# ALL LACs of ALL MSSs

## Import Modules

In [67]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [68]:
# Initialize variables used in the program 
MSS_Name = '0'
MSS_Date = '0'
MSS_Time = '0'
LAC_MCC = '0'
LAC_MNC = '0'
LAC_NO = '0'
LAC_LAI = '0'
LAC_PFC = '0'
LAC_PRL = '0'
LAC_POOL = '0'

ERI_MSS_Pars = [MSS_Name, MSS_Date, MSS_Time]
ERI_LAC_Pars = [LAC_MCC, LAC_MNC, LAC_NO, LAC_LAI, LAC_PFC, LAC_PRL, LAC_POOL]

ERI_index = 0
ERI_position = 0
ERI_LAC_count = 0

In [69]:
# Create & Initialize & Set the pd.DataFrame
col_names = ['MSS','Date','Time','MCC','MNC','LAC_str','LAC_NAME','PFC','PRL','POOL']
df_ERI_MSS_LACs = pd.DataFrame(columns=col_names)
df_ERI_MSS_LACs.loc[0] = [MSS_Name, MSS_Date, MSS_Time, LAC_MCC, LAC_MNC, LAC_NO, LAC_LAI, LAC_PFC, LAC_PRL, LAC_POOL]

In [70]:
# Especify the path of the log file
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGLAP.txt'

### Load log file

In [71]:
# Load the log ERI_path_to_file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute & Create pd.DataFrame & Pring (Main Function)

In [72]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mglap_lac_pars(ERI_log_file, ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            RI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mglap_lac_pars(ERI_log_file, ERI_index)
            if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_LAC = ERI_MSS_Pars + ERI_LAC_Pars
                df_ERI_MSS_LACs.loc[ERI_LAC_count] = new_LAC
                ERI_LAC_count = ERI_LAC_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [73]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_LAIs = df_ERI_MSS_LACs

drop_col = []
df_ERI_MSS_LAIs = df_ERI_MSS_LAIs.drop(columns=drop_col)
df_ERI_MSS_LAIs['LAC_int'] =  df_ERI_MSS_LAIs['LAC_str'].astype(int)
df_ERI_MSS_LAIs['LAI'] =  df_ERI_MSS_LAIs['MCC'] + '-' + df_ERI_MSS_LAIs['MNC'] + '-' + df_ERI_MSS_LAIs['LAC_int'].astype(str)
df_ERI_MSS_LAIs['NE-LAI'] =  df_ERI_MSS_LAIs['MSS'] + '-' + df_ERI_MSS_LAIs['LAI']
df_ERI_MSS_LAIs

,MSS,Date,Time,MCC,MNC,LAC_str,LAC_NAME,PFC,PRL,POOL,LAC_int,LAI,NE-LAI
0,MSSBA3,0000-00-00,00:00:00,724,05,973,724-05-973,ON,0,0,973,724-05-973,MSSBA3-724-05-973
1,MSSBA3,0000-00-00,00:00:00,724,05,20273,724-05-20273,ON,0,0,20273,724-05-20273,MSSBA3-724-05-20273
2,MSSBA3,0000-00-00,00:00:00,724,05,30171,724-05-30171,ON,0,0,30171,724-05-30171,MSSBA3-724-05-30171
3,MSSBA3,0000-00-00,00:00:00,724,05,30173,724-05-30173,ON,0,0,30173,724-05-30173,MSSBA3-724-05-30173
4,MSSBA3,0000-00-00,00:00:00,724,05,30174,724-05-30174,ON,0,0,30174,724-05-30174,MSSBA3-724-05-30174
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,ON,0,0,55075,724-05-55075,MSSBA8-724-05-55075
143,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,ON,0,0,55171,724-05-55171,MSSBA8-724-05-55171
144,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,ON,0,0,55173,724-05-55173,MSSBA8-724-05-55173
145,MSSBA8,0000-00-00,00:00:00,724,05,59075,724-05-59075,ON,0,0,59075,724-05-59075,MSSBA8-724-05-59075
146,MSSBA8,0000-00-00,00:00:00,724,08,40275,724-08-40275,ON,0,0,40275,724-08-40275,MSSBA8-724-08-40275

### Plot + Insights

In [74]:
# Continue...