# ALL 3G CELL of ALL ERICSSON'S MSSs + RNC MAPPING

## Import Modules

In [53]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [54]:
# Initialize NOKIA, ERICSSON & COMMON variables

# ERICSSON
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'

ERI_AREA_NAME = '0'
ERI_AREA_CGI = '0'
ERI_AREA_MCC = '0'
ERI_AREA_MNC = '0'
ERI_AREA_LAC = '0'
ERI_AREA_CI = '0'
ERI_AREA_RO = '0'
ERI_AREA_CO = '0'
ERI_AREA_EA = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
ERI_AREA_Pars = [ERI_AREA_NAME, ERI_AREA_CGI, ERI_AREA_MCC, ERI_AREA_MNC, ERI_AREA_LAC, ERI_AREA_CI,
                    ERI_AREA_RO, ERI_AREA_CO, ERI_AREA_EA]

ERI_index = 0
ERI_position = 0
ERI_SA_count = 0

In [55]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# ERICSSON
ERI_col_names = ['MSS','Date','Time','Name','CGI','MCC','MNC','LAC','CI','RO','CO','EA']
df_ERI_MSS_SAs = pd.DataFrame(columns=ERI_col_names)
df_ERI_MSS_SAs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            ERI_AREA_NAME, ERI_AREA_CGI, ERI_AREA_MCC, 
                            ERI_AREA_MNC, ERI_AREA_LAC, ERI_AREA_CI,
                            ERI_AREA_RO, ERI_AREA_CO, ERI_AREA_EA]

In [56]:
# Especify the path of the NOKIA & ERICSSON log files 
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MGAAP - All MSS.txt'

### Load log file

In [57]:
# Load the log file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute ERICSSON PROGRAM

In [58]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_AREA_Pars = NOK_ERI_Toolkit.get_mgaap_area_pars(ERI_log_file, ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, ERI_AREA_Pars = NOK_ERI_Toolkit.get_mgaap_area_pars(ERI_log_file, ERI_index)
            if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_SA = ERI_MSS_Pars + ERI_AREA_Pars
                df_ERI_MSS_SAs.loc[ERI_SA_count] = new_SA
                ERI_SA_count = ERI_SA_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [59]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_SAIs = df_ERI_MSS_SAs

ERI_drop_col = ['CO', 'RO', 'EA']
df_ERI_MSS_SAIs = df_ERI_MSS_SAIs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'Name', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']
df_ERI_MSS_SAIs = df_ERI_MSS_SAIs[ERI_col]

### Initialize variables

In [60]:
# Initialize NOKIA, ERICSSON & COMMON variables

# ERICSSON
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'
RNC_NAME = '0'
RNC_LAC_MCC = '0'
RNC_LAC_MNC = '0'
RNC_LAC_NO = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
RNC_Pars = [RNC_NAME]
RNC_LAC_Pars = [RNC_LAC_MCC, RNC_LAC_MNC, RNC_LAC_NO]

ERI_index = 0
ERI_position = 0
ERI_RNC_LAC_count = 0
ERI_RNC_LAC_flag = 0

In [61]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# ERICSSON
col_names = ['MSS','Date','Time','RNC','MCC','MNC','LAC']
df_ERI_MSS_RNC_LACs = pd.DataFrame(columns=col_names)
df_ERI_MSS_RNC_LACs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            RNC_NAME, RNC_LAC_MCC, RNC_LAC_MNC, RNC_LAC_NO]

In [62]:
# Especify the path of the NOKIA & ERICSSON log files 
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGMAP.txt'

### Load log file

In [63]:
# Load the log file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute ERICSSON PROGRAM

In [64]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    while(ERI_position >= 0) and (not ERI_position == 998):
        ERI_index, ERI_position, RNC_Pars = NOK_ERI_Toolkit.get_mgmap_rnc_pars(ERI_log_file, ERI_index)
        if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, RNC_LAC_Pars = NOK_ERI_Toolkit.get_mgmap_rnc_lac_pars(ERI_log_file, ERI_index)
            while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                ERI_index, ERI_position, RNC_LAC_Pars = NOK_ERI_Toolkit.get_mgmap_rnc_lac_pars(ERI_log_file, ERI_index)
                if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                    new_RNC_LAC = ERI_MSS_Pars + RNC_Pars + RNC_LAC_Pars
                    df_ERI_MSS_RNC_LACs.loc[ERI_RNC_LAC_count] = new_RNC_LAC
                    ERI_RNC_LAC_count = ERI_RNC_LAC_count + 1
                ERI_index = ERI_index + 1
        ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [65]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_RNC_LAIs = df_ERI_MSS_RNC_LACs
df_ERI_MSS_RNC_LAIs['LAI'] =  df_ERI_MSS_RNC_LAIs['MCC'] + '-' + df_ERI_MSS_RNC_LAIs['MNC'] + '-' + df_ERI_MSS_RNC_LAIs['LAC']
df_ERI_MSS_RNC_LAIs['MSS-LAI'] =  df_ERI_MSS_RNC_LAIs['MSS'] + '-' + df_ERI_MSS_RNC_LAIs['LAI']
df_ERI_MSS_RNC_LAIs['NE-LAI'] =  df_ERI_MSS_RNC_LAIs['RNC'] + '-' + df_ERI_MSS_RNC_LAIs['LAI']

ERI_drop_col = []
df_ERI_MSS_RNC_LAIs = df_ERI_MSS_RNC_LAIs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'MCC', 'MNC', 'LAC', 'LAI', 'MSS-LAI', 'NE-LAI', 'RNC']
df_ERI_MSS_RNC_LAIs = df_ERI_MSS_RNC_LAIs[ERI_col]

### Putting al together

In [66]:
# Create a dictionary to map MSS-LAI to RNC & mapping on key=MSS-LAI
my_dict = dict(zip(df_ERI_MSS_RNC_LAIs['MSS-LAI'], df_ERI_MSS_RNC_LAIs['RNC']))                         # Create a dictionary to map MSS-LAI to RNC
df_ERI_MSS_SAIs['LAI'] =  df_ERI_MSS_SAIs['MCC'] + '-' + df_ERI_MSS_SAIs['MNC'] + '-' + df_ERI_MSS_SAIs['LAC']
df_ERI_MSS_SAIs['MSS-LAI'] =  df_ERI_MSS_SAIs['MSS'] + '-' + df_ERI_MSS_SAIs['LAI']
df_ERI_MSS_SAIs['NE'] = df_ERI_MSS_SAIs['MSS-LAI'].map(my_dict)                                         # Create a new column NE (RNC) for mapping on key=MSS-LAI
ERI_drop_col = ['LAI', 'MSS-LAI']                                                                       # Define columns to drop 
df_ERI_MSS_SAIs = df_ERI_MSS_SAIs.drop(columns=ERI_drop_col)                                            # Drop columns
ERI_col = ['MSS', 'Date', 'Time', 'Name', 'NE', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']                       # Define the column's order
df_ERI_MSS_SAIs = df_ERI_MSS_SAIs[ERI_col]                                                              # Order the collumns
df_ERI_MSS_SAIs

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,RNCBA01,724,05,30177,40195,724-05-30177-40195
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,RNCBA01,724,05,30177,50195,724-05-30177-50195
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,RNCBA01,724,05,30177,60195,724-05-30177-60195
3,MSSBA3,0000-00-00,00:00:00,FT00056,RNCSP88,724,05,55073,56,724-05-55073-56
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,RNCBA01,724,05,30173,62870,724-05-30173-62870
...,...,...,...,...,...,...,...,...,...,...
3142,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,RNCBA06,724,05,30377,60183,724-05-30377-60183
3143,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,RNCBA06,724,05,30377,60184,724-05-30377-60184
3144,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,RNCBA06,724,05,30975,60194,724-05-30975-60194
3145,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,RNCBA06,724,05,30975,60195,724-05-30975-60195
3146,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,RNCBA06,724,05,30975,60196,724-05-30975-60196

### Plot + Insights

In [67]:
# Continue...