# ALL 3G CELL of ALL ERICSSON'S MSSs

## Import Modules

In [127]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [128]:
# Initialize NOKIA, ERICSSON & COMMON variables

# ERICSSON
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'

ERI_AREA_NAME = '0'
ERI_AREA_CGI = '0'
ERI_AREA_MCC = '0'
ERI_AREA_MNC = '0'
ERI_AREA_LAC = '0'
ERI_AREA_CI = '0'
ERI_AREA_RO = '0'
ERI_AREA_CO = '0'
ERI_AREA_EA = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
ERI_AREA_Pars = [ERI_AREA_NAME, ERI_AREA_CGI, ERI_AREA_MCC, ERI_AREA_MNC, ERI_AREA_LAC, ERI_AREA_CI,
                    ERI_AREA_RO, ERI_AREA_CO, ERI_AREA_EA]

ERI_index = 0
ERI_position = 0
ERI_SA_count = 0

In [129]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# ERICSSON
ERI_col_names = ['MSS','Date','Time','Name','CGI','MCC','MNC','LAC','CI','RO','CO','EA']
df_ERI_MSS_SAs = pd.DataFrame(columns=ERI_col_names)
df_ERI_MSS_SAs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            ERI_AREA_NAME, ERI_AREA_CGI, ERI_AREA_MCC, 
                            ERI_AREA_MNC, ERI_AREA_LAC, ERI_AREA_CI,
                            ERI_AREA_RO, ERI_AREA_CO, ERI_AREA_EA]

In [130]:
# Especify the path of the NOKIA & ERICSSON log files 
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MGAAP - All MSS.txt'

### Load log file

In [131]:
# Load the log file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute ERICSSON PROGRAM

In [132]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_AREA_Pars = NOK_ERI_Toolkit.get_mgaap_area_pars(ERI_log_file, ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, ERI_AREA_Pars = NOK_ERI_Toolkit.get_mgaap_area_pars(ERI_log_file, ERI_index)
            if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_SA = ERI_MSS_Pars + ERI_AREA_Pars
                df_ERI_MSS_SAs.loc[ERI_SA_count] = new_SA
                ERI_SA_count = ERI_SA_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [133]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_SAIs = df_ERI_MSS_SAs

ERI_drop_col = ['CO', 'RO', 'EA']
df_ERI_MSS_SAIs = df_ERI_MSS_SAIs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'Name', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']
df_ERI_MSS_SAIs = df_ERI_MSS_SAIs[ERI_col]
df_ERI_MSS_SAIs

,MSS,Date,Time,Name,MCC,MNC,LAC,CI,CGI
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,724,05,30177,40195,724-05-30177-40195
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,724,05,30177,50195,724-05-30177-50195
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,724,05,30177,60195,724-05-30177-60195
3,MSSBA3,0000-00-00,00:00:00,FT00056,724,05,55073,56,724-05-55073-56
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,724,05,30173,62870,724-05-30173-62870
...,...,...,...,...,...,...,...,...,...
3142,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,724,05,30377,60183,724-05-30377-60183
3143,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,724,05,30377,60184,724-05-30377-60184
3144,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,724,05,30975,60194,724-05-30975-60194
3145,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,724,05,30975,60195,724-05-30975-60195
3146,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,724,05,30975,60196,724-05-30975-60196

### Plot + Insights

In [134]:
# Continue...

In [135]:
df_MSS_LACs.head()

NameError: name 'df_MSS_LACs' is not defined

In [ ]:
df_MSS_LACs.groupby('MSS')['AT'].count()

In [ ]:
df_MSS_LACs.describe(include='all')

In [ ]:
df_MSS_LACs['MSS'].describe(include='all')

In [ ]:
df_MSS_LACs.head()

In [ ]:
df_MSS_LACs['AT'].count()

In [ ]:
df_MSS_LACs

In [ ]:
df_MSS_LACs.dropna().describe()

In [ ]:
df_MSS_LACs.groupby('MSS', axis=1).count()