# ALL 2G CELL of ALL NOKIA'S MSSs

## Import Modules

In [175]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [176]:
# Initialize NOKIA, ERICSSON & COMMON variables

# ERICSSON
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'

ERI_CELL_NAME = '0'
ERI_CELL_CGI = '0'
ERI_CELL_MCC = '0'
ERI_CELL_MNC = '0'
ERI_CELL_LAC = '0'
ERI_CELL_CI = '0'
ERI_CELL_BSC = '0'
ERI_CELL_CO = '0'
ERI_CELL_RO = '0'
ERI_CELL_NCS = '0'
ERI_CELL_EA = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
ERI_CELL_Pars = [ERI_CELL_NAME, ERI_CELL_CGI, ERI_CELL_MCC, ERI_CELL_MNC, ERI_CELL_LAC, ERI_CELL_CI, ERI_CELL_BSC,
                    ERI_CELL_CO, ERI_CELL_RO, ERI_CELL_NCS, ERI_CELL_EA]

ERI_index = 0
ERI_position = 0
ERI_CELL_count = 0

In [177]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# ERICSSON
ERI_col_names = ['MSS','Date','Time','Name','CGI','MCC','MNC','LAC','CI','NE','CO','RO','NCS','EA']
df_ERI_MSS_CELLs = pd.DataFrame(columns=ERI_col_names)
df_ERI_MSS_CELLs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            ERI_CELL_NAME, ERI_CELL_CGI, ERI_CELL_MCC, 
                            ERI_CELL_MNC, ERI_CELL_LAC, ERI_CELL_CI, ERI_CELL_BSC,
                            ERI_CELL_CO, ERI_CELL_RO, ERI_CELL_NCS, ERI_CELL_EA]
df_ERI_MSS_CELLs

  MSS Date Time Name CGI MCC MNC LAC CI NE CO RO NCS EA
0   0    0    0    0   0   0   0   0  0  0  0  0   0  0

In [178]:
# Especify the path of the NOKIA & ERICSSON log files 
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MGCEP - All MSS.txt'

### Load log file

In [179]:
# Load the log file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute ERICSSON PROGRAM

In [180]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_CELL_Pars = NOK_ERI_Toolkit.get_mgcep_cell_pars(ERI_log_file, ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, RNC_LAC_Pars = NOK_ERI_Toolkit.get_mgcep_cell_pars(ERI_log_file, ERI_index)
            if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_CELL = ERI_MSS_Pars + RNC_LAC_Pars
                df_ERI_MSS_CELLs.loc[ERI_CELL_count] = new_CELL
                ERI_CELL_count = ERI_CELL_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [181]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_CGISs = df_ERI_MSS_CELLs

ERI_drop_col = ['CO', 'RO', 'NCS', 'EA']
df_ERI_MSS_CGISs = df_ERI_MSS_CGISs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'Name', 'NE', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']
df_ERI_MSS_CGISs = df_ERI_MSS_CGISs[ERI_col]
df_ERI_MSS_CGISs

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA8,0000-00-00,00:00:00,BACAC021,BSCBA45,724,05,73,220,724-05-73-220
1,MSSBA8,0000-00-00,00:00:00,BACAC022,BSCBA45,724,05,73,10220,724-05-73-10220
2,MSSBA8,0000-00-00,00:00:00,BAITM021,BSCBA45,724,05,24973,234,724-05-24973-234
3,MSSBA8,0000-00-00,00:00:00,BAITM022,BSCBA45,724,05,24973,1023,724-05-24973-1023
4,MSSBA8,0000-00-00,00:00:00,BAITM023,BSCBA45,724,05,24973,2023,724-05-24973-2023
...,...,...,...,...,...,...,...,...,...,...
109,MSSBA8,0000-00-00,00:00:00,BAUBA01B,BSCBA45,724,05,73,23001,724-05-73-23001
110,MSSBA8,0000-00-00,00:00:00,BAUBA01C,BSCBA45,724,05,73,23002,724-05-73-23002
111,MSSBA8,0000-00-00,00:00:00,BAUBA01E,BSCBA45,724,05,73,23003,724-05-73-23003
112,MSSBA8,0000-00-00,00:00:00,BAUBA01F,BSCBA45,724,05,73,23004,724-05-73-23004
113,MSSBA8,0000-00-00,00:00:00,BAUBA01G,BSCBA45,724,05,73,23005,724-05-73-23005

### Plot + Insights

In [182]:
# Continue...

In [183]:
df_MSS_LACs.head()

NameError: name 'df_MSS_LACs' is not defined

In [ ]:
df_MSS_LACs.groupby('MSS')['AT'].count()

In [ ]:
df_MSS_LACs.describe(include='all')

In [ ]:
df_MSS_LACs['MSS'].describe(include='all')

In [ ]:
df_MSS_LACs.head()

In [ ]:
df_MSS_LACs['AT'].count()

In [ ]:
df_MSS_LACs

In [ ]:
df_MSS_LACs.dropna().describe()

In [ ]:
df_MSS_LACs.groupby('MSS', axis=1).count()