# ALL LACs of ALL MSSs

## Import Modules

In [1]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_Toolkit as NOK_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

## Main Program

### Initialize variables

In [2]:
# Initialize variables used in the program 
MSS_Name = '0'
MSS_Date = '0'
MSS_Time = '0'
MSS_Pars = [MSS_Name, MSS_Date, MSS_Time]

LAC_str = '0'
LAC_Name = '0'
ZC_0_Stat = ZC_1_Stat = ZC_2_Stat = ZC_3_Stat = ZC_4_Stat = ZC_5_Stat = '0'

LAC_Pars = [LAC_str, LAC_Name, ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]

ZC_0_Num = ZC_1_Num = ZC_2_Num = ZC_3_Num = ZC_4_Num = ZC_5_Num = 'N/A'
ZC_0_Name = ZC_1_Name = ZC_2_Name = ZC_3_Name = ZC_4_Name = ZC_5_Name = "N/A"
ZC_0_ROAM = ZC_1_ROAM = ZC_2_ROAM = ZC_3_ROAM = ZC_4_ROAM = ZC_5_ROAM = "N/A"
ZC_0_IN_MM = ZC_1_IN_MM = ZC_2_IN_MM = ZC_3_IN_MM = ZC_4_IN_MM = ZC_5_IN_MM = "N/A"

ZC_Stat = [ ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]
ZC_0_Pars = [ZC_0_Num, ZC_0_Name, ZC_0_ROAM, ZC_0_IN_MM]
ZC_1_Pars = [ZC_1_Num, ZC_1_Name, ZC_1_ROAM, ZC_1_IN_MM]
ZC_2_Pars = [ZC_2_Num, ZC_2_Name, ZC_2_ROAM, ZC_2_IN_MM]
ZC_3_Pars = [ZC_3_Num, ZC_3_Name, ZC_3_ROAM, ZC_3_IN_MM]
ZC_4_Pars = [ZC_4_Num, ZC_4_Name, ZC_4_ROAM, ZC_4_IN_MM]
ZC_5_Pars = [ZC_5_Num, ZC_5_Name, ZC_5_ROAM, ZC_5_IN_MM]

index = 0
position = 0
LAC_count = 0

In [3]:
# Create & Initialize & Set the pd.DataFrame
col_names = ['MSS','Date','Time', 'LAC_str','LAC_NAME', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_MSS_LACs = pd.DataFrame(columns=col_names)
df_MSS_LACs.loc[0] = [MSS_Name, MSS_Date, MSS_Time, LAC_str, LAC_Name, ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]
df_MSS_LACs

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam
0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
# Especify the path of the log file
path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEKO - All_MSS.txt'
path_to_file

'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEKO - All_MSS.txt'

### Load log file

In [5]:
# Load the log file
log_file = NOK_Toolkit.open_file(path_to_file)
log_file

['c7xtermx -n MSSBA06\n',
 '\x1b(B\x1b)0\x1b[1;1r\x1b[m\x0f\x1b[?7h\n',
 '\x1b[J?\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '                MAIN LEVEL    \n',
 '\n',
 '\n',
 '\n',
 '                ? ..... DISPLAY MENU    \n',
 '\n',
 '                A ..... ALARM SYSTEM ADMINISTRATION    \n',
 '\n',
 '                C ..... ROUTING STATE ADMINISTRATION    \n',
 '\n',
 '                D ..... SYSTEM SUPPORT AND COMMUNICATION    \n',
 '\n',
 '                E ..... CELLULAR RADIO NETWORK ADMINISTRATION    \n',
 '\n',
 '                G ..... CHARGING ADMINISTRATION    \n',
 '\n',
 '                I ..... I/O SYSTEM ADMINISTRATION    \n',
 '\n',
 '                J ..... IP TELEPHONY  ADMINISTRATION    \n',
 '\n',
 '                M ..... GSM SUBSCRIBER ADMINISTRATION    \n',
 '\n',
 '                N ..... SS7 NETWORK ADMINISTRATION    \n',
 '\n',
 '                O ..... SUPPLEMENTARY SS7 NETWORK ADMINISTRATION    \n',
 '\n',
 '                Q ..... O&M NETWORK ADMINISTRATION    \n',
 '\n',
 '                R ..... ROUTING ADMINISTRATION    \n',
 '\n',
 '                S ..... SUBSCRIBER ADMINISTRATION    \n',
 '\n',
 '                T ..... TRAFFIC ADMINISTRATION    \n',
 '\n',
 '                U ..... UNIT ADMINISTRATION    \n',
 '\n',
 '                W ..... SYSTEM CONFIGURATION ADMINISTRATION    \n',
 '\n',
 '                Y ..... SYSTEM SUPERVISION    \n',
 '\n',
 '                Z; .... END DIALOGUE    \n',
 '\n',
 '\n',
 '\n',
 'MAIN LEVEL COMMAND <___>\n',
 '\n',
 '< \x08 ZEKO:LAC=1&&65533;\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'LOADING PROGRAM VERSION 7.13-0\n',
 '\n',
 '\n',
 '\n',
 'EXECUTION STARTED\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC01671        01671\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2575         02575\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2775         02775\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1575         01575\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1475         01475\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC30971        30971\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC875          00875\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1375         01375\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2075         02075\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2175         02175\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC22875        22875\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC577          00577\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC377          00377\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1377         01377\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0001  VIVO             YES   NO \n',
 '\n',
 '0002  OI               YES   NO \n',
 '\n',
 '0003  TIM              YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC9277         09277\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC477          00477\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2675         02675\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC371          00371\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC571          00571\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1771         01771\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1871         01871\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC02375        02375\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2875         02875\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2975         02975\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC23075        23075\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0001  VIVO             YES   NO \n',
 '\n',
 '0002  OI               YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC21875        21875\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0001  VIVO             YES   NO \n',
 '\n',
 '0002  OI               YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC31071        31071\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC31171        31171\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC31571        31571\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC31671        31671\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC22077        22077\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC20877        20877\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC50077        50077\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC20077        20077\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC1577         01577\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC24777        24777\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC24677        24677\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC2871         02871\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC3271         03271\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC3371         03371\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC3671         03671\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC30271        30271\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC30471        30471\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC20377        20377\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC22175        22175\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 '\n',
 '0004  CTBC             YES   NO \n',
 '\n',
 '\n',
 '\n',
 'MSCi      MSSBA06                   2022-02-04  09:50:14\n',
 '\n',
 '\n',
 '\n',
 'LOCATION AREA: LAC22675        22675\n',
 '\n',
 'ATTACHED TO ZONE CODES\n',
 '\n',
 '\n',
 '\n',
 'ZC    ZN               ROAM  IN-MM\n',
 '\n',
 '----  ---------------  ----  -----\n',
 '\n',
 '0000  ALLLACS          YES   NO \n',
 ...]

### Execute & Create pd.DataFrame & Pring (Main Function)

In [6]:
# Run the main program (txt => pd.DataFrame)
while (index < len(log_file)-1):
    index, position, MSS_Pars = NOK_Toolkit.get_mss_pars(log_file, index, 'ZEKO:LAC')
    while (index < len(log_file)-1) and (not position == 999):
        index, position, LAC_Pars = NOK_Toolkit.get_zeko_lac_pars(log_file, index)
        if position == 999:                                         # if 'COMMAND EXECUTED'
            index = index + 1                                       # Increase index to read next line
        else:
            new_LAC = MSS_Pars + LAC_Pars
            df_MSS_LACs.loc[LAC_count] = new_LAC
            LAC_count = LAC_count + 1
df_MSS_LACs

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam
0,MSSBA06,2022-02-04,09:50:14,01671,LAC01671,1,0,0,0,1,0
1,MSSBA06,2022-02-04,09:50:14,02575,LAC2575,1,0,0,0,1,0
2,MSSBA06,2022-02-04,09:50:14,02775,LAC2775,1,0,0,0,1,0
3,MSSBA06,2022-02-04,09:50:14,01575,LAC1575,1,0,0,0,1,0
4,MSSBA06,2022-02-04,09:50:14,01475,LAC1475,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
430,MSSBA0A,2022-02-04,09:49:12,52079,LAC52079,1,0,0,1,1,0
431,MSSBA0A,2022-02-04,09:49:12,23875,LAC23875,1,0,0,0,1,0
432,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0
433,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0
434,MSSBA0A,2022-02-04,09:49:12,54175,LAC54175,1,0,0,0,1,0

### Analyze Data

##### Very nice resource in the internet to learn filters: https://towardsdatascience.com/8-ways-to-filter-pandas-dataframes-d34ba585c1b8

In [7]:
# Working on it...

drop_col = []
df_MSS_LAIs = df_MSS_LACs.drop(columns=drop_col)
df_MSS_LAIs['MCC'] =  '724'
df_MSS_LAIs['MNC'] =  '05'
df_MSS_LAIs['LAC_int'] =  df_MSS_LAIs['LAC_str'].astype(int)

# Very efficient wat to evaluate a value of a column and set other one. Ex.: df.loc[df['COL_NAME'] == 0, 'RESULT'] = -1
df_MSS_LAIs.loc[df_MSS_LAIs.LAC_NAME.str.contains('RS'), 'MNC'] = '28'
df_MSS_LAIs.loc[df_MSS_LAIs.LAC_NAME.str.contains('FAKE'), 'MNC'] = '11'

df_MSS_LAIs['LAI'] =  df_MSS_LAIs['MCC'] + '-' + df_MSS_LAIs['MNC'] + '-' + df_MSS_LAIs['LAC_int'].astype(str)
df_MSS_LAIs['NE-LAI'] =  df_MSS_LAIs['MSS'] + '-' + df_MSS_LAIs['LAI']
df_MSS_LAIs.head()

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC_int,LAI,NE-LAI
0,MSSBA06,2022-02-04,09:50:14,01671,LAC01671,1,0,0,0,1,0,724,05,1671,724-05-1671,MSSBA06-724-05-1671
1,MSSBA06,2022-02-04,09:50:14,02575,LAC2575,1,0,0,0,1,0,724,05,2575,724-05-2575,MSSBA06-724-05-2575
2,MSSBA06,2022-02-04,09:50:14,02775,LAC2775,1,0,0,0,1,0,724,05,2775,724-05-2775,MSSBA06-724-05-2775
3,MSSBA06,2022-02-04,09:50:14,01575,LAC1575,1,0,0,0,1,0,724,05,1575,724-05-1575,MSSBA06-724-05-1575
4,MSSBA06,2022-02-04,09:50:14,01475,LAC1475,1,0,0,0,1,0,724,05,1475,724-05-1475,MSSBA06-724-05-1475

In [8]:
df_MSS_LAIs[df_MSS_LAIs['MSS'] =='MSSBA0A']

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC_int,LAI,NE-LAI
228,MSSBA0A,2022-02-04,09:49:12,54275,LAC54275,1,0,1,0,1,0,724,05,54275,724-05-54275,MSSBA0A-724-05-54275
229,MSSBA0A,2022-02-04,09:49:12,54375,LAC54375,1,0,1,0,1,0,724,05,54375,724-05-54375,MSSBA0A-724-05-54375
230,MSSBA0A,2022-02-04,09:49:12,00074,LAC74,1,0,0,0,1,0,724,05,74,724-05-74,MSSBA0A-724-05-74
231,MSSBA0A,2022-02-04,09:49:12,00974,LAC974,1,0,0,0,1,0,724,05,974,724-05-974,MSSBA0A-724-05-974
232,MSSBA0A,2022-02-04,09:49:12,01074,LAC1074,1,0,0,1,1,0,724,05,1074,724-05-1074,MSSBA0A-724-05-1074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,MSSBA0A,2022-02-04,09:49:12,52079,LAC52079,1,0,0,1,1,0,724,05,52079,724-05-52079,MSSBA0A-724-05-52079
431,MSSBA0A,2022-02-04,09:49:12,23875,LAC23875,1,0,0,0,1,0,724,05,23875,724-05-23875,MSSBA0A-724-05-23875
432,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
433,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
434,MSSBA0A,2022-02-04,09:49:12,54175,LAC54175,1,0,0,0,1,0,724,05,54175,724-05-54175,MSSBA0A-724-05-54175

In [9]:
df_MSS_LAIs[df_MSS_LAIs.MSS =='MSSBA0A']

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC_int,LAI,NE-LAI
228,MSSBA0A,2022-02-04,09:49:12,54275,LAC54275,1,0,1,0,1,0,724,05,54275,724-05-54275,MSSBA0A-724-05-54275
229,MSSBA0A,2022-02-04,09:49:12,54375,LAC54375,1,0,1,0,1,0,724,05,54375,724-05-54375,MSSBA0A-724-05-54375
230,MSSBA0A,2022-02-04,09:49:12,00074,LAC74,1,0,0,0,1,0,724,05,74,724-05-74,MSSBA0A-724-05-74
231,MSSBA0A,2022-02-04,09:49:12,00974,LAC974,1,0,0,0,1,0,724,05,974,724-05-974,MSSBA0A-724-05-974
232,MSSBA0A,2022-02-04,09:49:12,01074,LAC1074,1,0,0,1,1,0,724,05,1074,724-05-1074,MSSBA0A-724-05-1074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,MSSBA0A,2022-02-04,09:49:12,52079,LAC52079,1,0,0,1,1,0,724,05,52079,724-05-52079,MSSBA0A-724-05-52079
431,MSSBA0A,2022-02-04,09:49:12,23875,LAC23875,1,0,0,0,1,0,724,05,23875,724-05-23875,MSSBA0A-724-05-23875
432,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
433,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
434,MSSBA0A,2022-02-04,09:49:12,54175,LAC54175,1,0,0,0,1,0,724,05,54175,724-05-54175,MSSBA0A-724-05-54175

In [10]:
len(df_MSS_LAIs[df_MSS_LAIs.LAC_NAME.str.contains('RS')])

35

In [11]:
df_MSS_LAIs[df_MSS_LAIs.LAC_NAME =='LACFAKE']

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC_int,LAI,NE-LAI
80,MSSBA09,2022-02-04,09:49:23,60071,LACFAKE,0,0,0,0,1,0,724,11,60071,724-11-60071,MSSBA09-724-11-60071
273,MSSBA0A,2022-02-04,09:49:12,60071,LACFAKE,0,0,0,0,1,0,724,11,60071,724-11-60071,MSSBA0A-724-11-60071

In [12]:
df_MSS_LAIs[df_MSS_LAIs.LAC_NAME.str.contains('RS')]

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC_int,LAI,NE-LAI
82,MSSBA09,2022-02-04,09:49:23,40273,LAC40273RS,1,0,0,0,1,0,724,28,40273,724-28-40273,MSSBA09-724-28-40273
83,MSSBA09,2022-02-04,09:49:23,40277,LAC40277RS,1,0,0,0,1,0,724,28,40277,724-28-40277,MSSBA09-724-28-40277
84,MSSBA09,2022-02-04,09:49:23,40177,LAC40177RS,1,0,0,0,1,0,724,28,40177,724-28-40177,MSSBA09-724-28-40177
85,MSSBA09,2022-02-04,09:49:23,40377,LAC40377RS,1,0,0,0,1,0,724,28,40377,724-28-40377,MSSBA09-724-28-40377
95,MSSBA09,2022-02-04,09:49:23,49073,LAC49073RS,1,0,0,0,1,0,724,28,49073,724-28-49073,MSSBA09-724-28-49073
96,MSSBA09,2022-02-04,09:49:23,40177,LAC40177RS,1,0,0,0,1,0,724,28,40177,724-28-40177,MSSBA09-724-28-40177
97,MSSBA09,2022-02-04,09:49:23,40277,LAC40277RS,1,0,0,0,1,0,724,28,40277,724-28-40277,MSSBA09-724-28-40277
98,MSSBA09,2022-02-04,09:49:23,40377,LAC40377RS,1,0,0,0,1,0,724,28,40377,724-28-40377,MSSBA09-724-28-40377
99,MSSBA09,2022-02-04,09:49:23,40273,LAC40273RS,1,0,0,0,1,0,724,28,40273,724-28-40273,MSSBA09-724-28-40273
106,MSSBA09,2022-02-04,09:49:23,40373,LAC40373RS,1,0,0,0,1,0,724,28,40373,724-28-40373,MSSBA09-724-28-40373
108,MSSBA09,2022-02-04,09:49:23,40473,LAC40473RS,1,0,0,0,1,0,724,28,40473,724-28-40473,MSSBA09-724-28-40473
110,MSSBA09,2022-02-04,09:49:23,40573,LAC40573RS,1,0,0,0,1,0,724,28,40573,724-28-40573,MSSBA09-724-28-40573
112,MSSBA09,2022-02-04,09:49:23,49077,LAC49077RS,1,0,0,0,1,0,724,28,49077,724-28-49077,MSSBA09-724-28-49077
114,MSSBA09,2022-02-04,09:49:23,40677,LAC40677RS,1,0,0,0,1,0,724,28,40677,724-28-40677,MSSBA09-724-28-40677
116,MSSBA09,2022-02-04,09:49:23,40777,LAC40777RS,1,0,0,0,1,0,724,28,40777,724-28-40777,MSSBA09-724-28-40777
272,MSSBA0A,2022-02-04,09:49:12,40375,LAC40375RS,1,0,0,0,1,0,724,28,40375,724-28-40375,MSSBA0A-724-28-40375
275,MSSBA0A,2022-02-04,09:49:12,40275,LAC40275RS,1,0,0,0,1,0,724,28,40275,724-28-40275,MSSBA0A-724-28-40275
276,MSSBA0A,2022-02-04,09:49:12,40171,LAC40171RS,1,0,0,0,1,0,724,28,40171,724-28-40171,MSSBA0A-724-28-40171
282,MSSBA0A,2022-02-04,09:49:12,40174,LAC40174RS,1,0,0,0,1,0,724,28,40174,724-28-40174,MSSBA0A-724-28-40174
283,MSSBA0A,2022-02-04,09:49:12,40175,LAC40175RS,1,0,0,0,1,0,724,28,40175,724-28-40175,MSSBA0A-724-28-40175
287,MSSBA0A,2022-02-04,09:49:12,40171,LAC40171RS,1,0,0,0,1,0,724,28,40171,724-28-40171,MSSBA0A-724-28-40171
288,MSSBA0A,2022-02-04,09:49:12,40174,LAC40174RS,1,0,0,0,1,0,724,28,40174,724-28-40174,MSSBA0A-724-28-40174
289,MSSBA0A,2022-02-04,09:49:12,40175,LAC40175RS,1,0,0,0,1,0,724,28,40175,724-28-40175,MSSBA0A-724-28-40175
290,MSSBA0A,2022-02-04,09:49:12,40275,LAC40275RS,1,0,0,0,1,0,724,28,40275,724-28-40275,MSSBA0A-724-28-40275
291,MSSBA0A,2022-02-04,09:49:12,40375,LAC40375RS,1,0,0,0,1,0,724,28,40375,724-28-40375,MSSBA0A-724-28-40375
300,MSSBA0A,2022-02-04,09:49:12,41074,LAC41074RS,1,0,0,0,1,0,724,28,41074,724-28-41074,MSSBA0A-724-28-41074
302,MSSBA0A,2022-02-04,09:49:12,49074,LAC49074RS,1,0,0,0,1,0,724,28,49074,724-28-49074,MSSBA0A-724-28-49074
306,MSSBA0A,2022-02-04,09:49:12,49075,LAC49075RS,1,0,0,0,1,0,724,28,49075,724-28-49075,MSSBA0A-724-28-49075
308,MSSBA0A,2022-02-04,09:49:12,49175,LAC49175RS,1,0,0,0,1,0,724,28,49175,724-28-49175,MSSBA0A-724-28-49175
310,MSSBA0A,2022-02-04,09:49:12,49275,LAC49275RS,1,0,0,0,1,0,724,28,49275,724-28-49275,MSSBA0A-724-28-49275
311,MSSBA0A,2022-02-04,09:49:12,40875,LAC40875RS,1,0,0,0,1,0,724,28,40875,724-28-40875,MSSBA0A-724-28-40875
378,MSSBA0A,2022-02-04,09:49:12,31474,LAC31474RS,1,0,0,0,1,0,724,28,31474,724-28-31474,MSSBA0A-724-28-31474
382,MSSBA0A,2022-02-04,09:49:12,31474,LAC31474RS,1,0,0,0,1,0,724,28,31474,724-28-31474,MSSBA0A-724-28-31474
432,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
433,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675

### Plot + Insights

In [13]:
# Continue...

In [14]:
df_MSS_LACs.head()

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam
0,MSSBA06,2022-02-04,09:50:14,01671,LAC01671,1,0,0,0,1,0
1,MSSBA06,2022-02-04,09:50:14,02575,LAC2575,1,0,0,0,1,0
2,MSSBA06,2022-02-04,09:50:14,02775,LAC2775,1,0,0,0,1,0
3,MSSBA06,2022-02-04,09:50:14,01575,LAC1575,1,0,0,0,1,0
4,MSSBA06,2022-02-04,09:50:14,01475,LAC1475,1,0,0,0,1,0

In [15]:
df_MSS_LACs.groupby('MSS')['AT'].count()

KeyError: 'Column not found: AT'

In [ ]:
df_MSS_LACs.describe(include='all')

In [ ]:
df_MSS_LACs['MSS'].describe(include='all')

In [ ]:
df_MSS_LACs.head()

In [ ]:
df_MSS_LACs['AT'].count()

In [ ]:
df_MSS_LACs

In [ ]:
df_MSS_LACs.dropna().describe()

In [ ]:
df_MSS_LACs.groupby('MSS', axis=1).count()