# ALL LACs of ALL MSSs

## Import Modules

In [41]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [42]:
# Initialize variables used in the program 
MSS_Name = '0'
MSS_Date = '0'
MSS_Time = '0'
MSS_Pars = [MSS_Name, MSS_Date, MSS_Time]

LAC_str = '0'
LAC_Name = '0'
ZC_0_Stat = ZC_1_Stat = ZC_2_Stat = ZC_3_Stat = ZC_4_Stat = ZC_5_Stat = '0'

LAC_Pars = [LAC_str, LAC_Name, ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]

ZC_0_Num = ZC_1_Num = ZC_2_Num = ZC_3_Num = ZC_4_Num = ZC_5_Num = 'N/A'
ZC_0_Name = ZC_1_Name = ZC_2_Name = ZC_3_Name = ZC_4_Name = ZC_5_Name = "N/A"
ZC_0_ROAM = ZC_1_ROAM = ZC_2_ROAM = ZC_3_ROAM = ZC_4_ROAM = ZC_5_ROAM = "N/A"
ZC_0_IN_MM = ZC_1_IN_MM = ZC_2_IN_MM = ZC_3_IN_MM = ZC_4_IN_MM = ZC_5_IN_MM = "N/A"

ZC_Stat = [ ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]
ZC_0_Pars = [ZC_0_Num, ZC_0_Name, ZC_0_ROAM, ZC_0_IN_MM]
ZC_1_Pars = [ZC_1_Num, ZC_1_Name, ZC_1_ROAM, ZC_1_IN_MM]
ZC_2_Pars = [ZC_2_Num, ZC_2_Name, ZC_2_ROAM, ZC_2_IN_MM]
ZC_3_Pars = [ZC_3_Num, ZC_3_Name, ZC_3_ROAM, ZC_3_IN_MM]
ZC_4_Pars = [ZC_4_Num, ZC_4_Name, ZC_4_ROAM, ZC_4_IN_MM]
ZC_5_Pars = [ZC_5_Num, ZC_5_Name, ZC_5_ROAM, ZC_5_IN_MM]

index = 0
position = 0
LAC_count = 0

In [43]:
# Create & Initialize & Set the pd.DataFrame
col_names = ['MSS','Date','Time', 'LAC_str','LAC_NAME', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_MSS_LACs = pd.DataFrame(columns=col_names)
df_MSS_LACs.loc[0] = [MSS_Name, MSS_Date, MSS_Time, LAC_str, LAC_Name, ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]

In [44]:
# Especify the path of the log file
path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEKO - All_MSS.txt'

### Load log file

In [45]:
# Load the log file
log_file = NOK_ERI_Toolkit.open_file(path_to_file)

### Execute & Create pd.DataFrame & Pring (Main Function)

In [46]:
# Run the main program (txt => pd.DataFrame)
while (index < len(log_file)-1):
    index, position, MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(log_file, index, 'ZEKO:LAC')
    while (index < len(log_file)-1) and (not position == 999):
        index, position, LAC_Pars = NOK_ERI_Toolkit.get_zeko_lac_pars(log_file, index)
        if position == 999:                                         # if 'COMMAND EXECUTED'
            index = index + 1                                       # Increase index to read next line
        else:
            new_LAC = MSS_Pars + LAC_Pars
            df_MSS_LACs.loc[LAC_count] = new_LAC
            LAC_count = LAC_count + 1

### Analyze Data

##### Very nice resource in the internet to learn filters: https://towardsdatascience.com/8-ways-to-filter-pandas-dataframes-d34ba585c1b8

In [49]:
# Working on it...

drop_col = []
df_MSS_LAIs = df_MSS_LACs.drop(columns=drop_col)
df_MSS_LAIs['MCC'] =  '724'
df_MSS_LAIs['MNC'] =  '05'
df_MSS_LAIs['LAC_int'] =  df_MSS_LAIs['LAC_str'].astype(int)

# Very efficient wat to evaluate a value of a column and set other one. Ex.: df.loc[df['COL_NAME'] == 0, 'RESULT'] = -1
df_MSS_LAIs.loc[df_MSS_LAIs.LAC_NAME.str.contains('RS'), 'MNC'] = '28'
df_MSS_LAIs.loc[df_MSS_LAIs.LAC_NAME.str.contains('FAKE'), 'MNC'] = '11'

df_MSS_LAIs['LAI'] =  df_MSS_LAIs['MCC'] + '-' + df_MSS_LAIs['MNC'] + '-' + df_MSS_LAIs['LAC_int'].astype(str)
df_MSS_LAIs['NE-LAI'] =  df_MSS_LAIs['MSS'] + '-' + df_MSS_LAIs['LAI']
df_MSS_LAIs

,MSS,Date,Time,LAC_str,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC_int,LAI,NE-LAI
0,MSSBA06,2022-02-04,09:50:14,01671,LAC01671,1,0,0,0,1,0,724,05,1671,724-05-1671,MSSBA06-724-05-1671
1,MSSBA06,2022-02-04,09:50:14,02575,LAC2575,1,0,0,0,1,0,724,05,2575,724-05-2575,MSSBA06-724-05-2575
2,MSSBA06,2022-02-04,09:50:14,02775,LAC2775,1,0,0,0,1,0,724,05,2775,724-05-2775,MSSBA06-724-05-2775
3,MSSBA06,2022-02-04,09:50:14,01575,LAC1575,1,0,0,0,1,0,724,05,1575,724-05-1575,MSSBA06-724-05-1575
4,MSSBA06,2022-02-04,09:50:14,01475,LAC1475,1,0,0,0,1,0,724,05,1475,724-05-1475,MSSBA06-724-05-1475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,MSSBA0A,2022-02-04,09:49:12,52079,LAC52079,1,0,0,1,1,0,724,05,52079,724-05-52079,MSSBA0A-724-05-52079
431,MSSBA0A,2022-02-04,09:49:12,23875,LAC23875,1,0,0,0,1,0,724,05,23875,724-05-23875,MSSBA0A-724-05-23875
432,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
433,MSSBA0A,2022-02-04,09:49:12,40675,LAC40675RS,1,0,0,0,1,0,724,28,40675,724-28-40675,MSSBA0A-724-28-40675
434,MSSBA0A,2022-02-04,09:49:12,54175,LAC54175,1,0,0,0,1,0,724,05,54175,724-05-54175,MSSBA0A-724-05-54175

### Plot + Insights

In [48]:
# Continue...