# ROAMING DEFINED IN ALL MSSs (NOKIA & ERICSSON)

## Import Modules

In [12]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [13]:
# Initialize NOKIA, ERICSSON & COMMON variables

# NOKIA variables 
NOK_MSS_Name = '0'
NOK_MSS_Date = '0'
NOK_MSS_Time = '0'
NOK_LAC_str = '0'
NOK_LAC_Name = '0'
NOK_ZC_0_Stat = NOK_ZC_1_Stat = NOK_ZC_2_Stat = NOK_ZC_3_Stat = NOK_ZC_4_Stat = NOK_ZC_5_Stat = '0'

NOK_MSS_Pars = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time]
NOK_LAC_Pars = [NOK_LAC_str, NOK_LAC_Name, NOK_ZC_0_Stat, NOK_ZC_1_Stat, NOK_ZC_2_Stat, NOK_ZC_3_Stat, NOK_ZC_4_Stat, NOK_ZC_5_Stat]

NOK_index = 0
NOK_position = 0
NOK_LAC_count = 0

# ERICSSON variables 
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'
ERI_LAC_str = '0'
ERI_LAC_Name = '0'
ERI_ZC_0_Stat = ERI_ZC_1_Stat = ERI_ZC_2_Stat = ERI_ZC_3_Stat = ERI_ZC_4_Stat = ERI_ZC_5_Stat = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
ERI_LAC_Pars = [ERI_LAC_str, ERI_LAC_Name, ERI_ZC_0_Stat, ERI_ZC_1_Stat, ERI_ZC_2_Stat, ERI_ZC_3_Stat, ERI_ZC_4_Stat, ERI_ZC_5_Stat]

ERI_index = 0
ERI_position = 0
ERI_LAC_count = 0

In [14]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# NOKIA
NOK_col_names = ['MSS','Date','Time', 'LAC_str','LAC_NAME', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_NOK_MSS_LACs = pd.DataFrame(columns=NOK_col_names)
df_NOK_MSS_LACs.loc[0] = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time,
                            NOK_LAC_str, NOK_LAC_Name, NOK_ZC_0_Stat,
                            NOK_ZC_1_Stat, NOK_ZC_2_Stat, NOK_ZC_3_Stat,
                            NOK_ZC_4_Stat, NOK_ZC_5_Stat]

# ERICSSON
ERI_col_names = ['MSS','Date','Time', 'LAC_str','LAC_NAME', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_ERI_MSS_LACs = pd.DataFrame(columns=ERI_col_names)
df_ERI_MSS_LACs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            ERI_LAC_str, ERI_LAC_Name, ERI_ZC_0_Stat,
                            ERI_ZC_1_Stat, ERI_ZC_2_Stat, ERI_ZC_3_Stat,
                            ERI_ZC_4_Stat, ERI_ZC_5_Stat]

In [15]:
# Especify the path of the NOKIA & ERICSSON log files 
NOK_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEKO - All_MSS.txt'
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGNRP.txt'

### Load log file

In [16]:
# Load the log file
NOK_log_file = NOK_ERI_Toolkit.open_file(NOK_path_to_file)
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute NOKIA PROGRAM

In [17]:
# Run the main program (txt => pd.DataFrame)
while (NOK_index < len(NOK_log_file)-1):
    NOK_index, NOK_position, NOK_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(NOK_log_file, NOK_index, 'ZEKO:LAC')
    while (NOK_index < len(NOK_log_file)-1) and (not NOK_position == 999):
        NOK_index, NOK_position, NOK_LAC_Pars = NOK_ERI_Toolkit.get_zeko_lac_pars(NOK_log_file, NOK_index)
        if NOK_position == 999:                                             # if 'COMMAND EXECUTED'
            NOK_index = NOK_index + 1                                       # Increase index to read next line
        else:
            new_LAC = NOK_MSS_Pars + NOK_LAC_Pars
            df_NOK_MSS_LACs.loc[NOK_LAC_count] = new_LAC
            NOK_LAC_count = NOK_LAC_count + 1

### Execute ERICSSON PROGRAM

In [18]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mgnrp_lac_pars(ERI_log_file,ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mgnrp_lac_pars(ERI_log_file, ERI_index)
            if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_LAC = ERI_MSS_Pars + ERI_LAC_Pars
                df_ERI_MSS_LACs.loc[ERI_LAC_count] = new_LAC
                ERI_LAC_count = ERI_LAC_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [19]:
# NOKIA DataFrame => Drop some columns to get just the most important ones.

df_NOK_MSS_LAIs = df_NOK_MSS_LACs
df_NOK_MSS_LAIs['MCC'] =  '724'
df_NOK_MSS_LAIs['MNC'] =  '05'
df_NOK_MSS_LAIs['LAC'] =  df_NOK_MSS_LAIs['LAC_str'].astype(int)

#Very nice resource in the internet to learn filters: https://towardsdatascience.com/8-ways-to-filter-pandas-dataframes-d34ba585c1b8
# Very efficient wat to evaluate a value of a column and set other one. Ex.: df.loc[df['COL_NAME'] == 0, 'RESULT'] = -1
df_NOK_MSS_LAIs.loc[df_NOK_MSS_LAIs.LAC_NAME.str.contains('RS'), 'MNC'] = '28'
df_NOK_MSS_LAIs.loc[df_NOK_MSS_LAIs.LAC_NAME.str.contains('FAKE'), 'MNC'] = '11'

df_NOK_MSS_LAIs['LAI'] =  df_NOK_MSS_LAIs['MCC'] + '-' + df_NOK_MSS_LAIs['MNC'] + '-' + df_NOK_MSS_LAIs['LAC'].astype(str)
df_NOK_MSS_LAIs['MSS-LAI'] =  df_NOK_MSS_LAIs['MSS'] + '-' + df_NOK_MSS_LAIs['LAI']

NOK_drop_col = ['LAC_str', 'LAC_NAME']
df_NOK_MSS_LAIs = df_NOK_MSS_LAIs.drop(columns=NOK_drop_col)
df_NOK_MSS_LAIs['MSS'] = df_NOK_MSS_LAIs['MSS'].str.replace(r'0', '')
NOK_col = ['MSS', 'Date', 'Time', 'MCC', 'MNC', 'LAC', 'LAI', 'MSS-LAI', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_NOK_MSS_LAIs = df_NOK_MSS_LAIs[NOK_col]

In [20]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_LAIs = df_ERI_MSS_LACs
df_ERI_MSS_LAIs[['MCC','MNC', 'LAC']] =  df_ERI_MSS_LAIs['LAC_NAME'].str.split('-', 2, expand=True)
df_ERI_MSS_LAIs['LAI'] =  df_ERI_MSS_LAIs['LAC_NAME']
df_ERI_MSS_LAIs['MSS-LAI'] =  df_ERI_MSS_LAIs['MSS'] + '-' + df_ERI_MSS_LAIs['LAI']

ERI_drop_col = ['LAC_str', 'LAC_NAME']
df_ERI_MSS_LAIs = df_ERI_MSS_LAIs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'MCC', 'MNC', 'LAC', 'LAI', 'MSS-LAI', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_ERI_MSS_LAIs = df_ERI_MSS_LAIs[ERI_col]

### Merge & Sort & Print

In [21]:
# Merge & Sort & Print NOKIA and ERICSSON.

df_NOK_ERI_MSS_LACs = df_NOK_MSS_LAIs.append(df_ERI_MSS_LAIs, ignore_index=True)
df_NOK_ERI_MSS_LACs['LAC'] =  df_NOK_ERI_MSS_LACs['LAC'].astype(int)
df_NOK_ERI_MSS_LACs = df_NOK_ERI_MSS_LACs.sort_values(by=['MSS','LAC'], ignore_index=True)
df_NOK_ERI_MSS_LACs['LAC'] =  df_NOK_ERI_MSS_LACs['LAC'].astype(str)
df_NOK_ERI_MSS_LACs

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam
0,MSSBA3,0000-00-00,00:00:00,724,05,973,724-05-973,MSSBA3-724-05-973,1,0,0,0,1,0
1,MSSBA3,0000-00-00,00:00:00,724,05,20273,724-05-20273,MSSBA3-724-05-20273,1,1,0,0,1,0
2,MSSBA3,0000-00-00,00:00:00,724,05,30171,724-05-30171,MSSBA3-724-05-30171,1,0,0,0,1,0
3,MSSBA3,0000-00-00,00:00:00,724,05,30173,724-05-30173,MSSBA3-724-05-30173,1,0,0,0,1,0
4,MSSBA3,0000-00-00,00:00:00,724,05,30174,724-05-30174,MSSBA3-724-05-30174,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,MSSBAA,2022-02-04,09:49:12,724,05,55174,724-05-55174,MSSBA0A-724-05-55174,1,0,0,0,1,0
578,MSSBAA,2022-02-04,09:49:12,724,05,55375,724-05-55375,MSSBA0A-724-05-55375,1,0,0,0,1,0
579,MSSBAA,2022-02-04,09:49:12,724,11,60071,724-11-60071,MSSBA0A-724-11-60071,0,0,0,0,1,0
580,MSSBAA,2022-02-04,09:49:12,724,05,60274,724-05-60274,MSSBA0A-724-05-60274,1,0,0,0,1,0
581,MSSBAA,2022-02-04,09:49:12,724,05,60474,724-05-60474,MSSBA0A-724-05-60474,1,0,0,0,1,0

### Plot + Insights

In [22]:
# Continue...