# ALL 3G CELL of ALL NOKIA'S MSSs + RNC MAPPING

## Import Modules

In [17]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [18]:
# NOKIA variables 
NOK_MSS_Name = '0'
NOK_MSS_Date = '0'
NOK_MSS_Time = '0'
NOK_SA_NAME = '0'
NOK_SA_NO = '0'
NOK_SA_RNC_NAME = '0'
NOK_SA_LAC_NAME = '0'
NOK_SA_LAC_NO = '0'
NOK_SA_MCC = '0'
NOK_SA_MNC = '0'
NOK_SA_CI = '0'
NOK_SA_STAT = '0'
NOK_SA_RZ = '0'
NOK_SA_CDR = '0'

NOK_MSS_Pars = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time]
NOK_SA_Pars = [NOK_SA_NAME, NOK_SA_NO, NOK_SA_LAC_NAME, NOK_SA_LAC_NO, NOK_SA_MCC, NOK_SA_MNC, NOK_SA_CI, NOK_SA_STAT, NOK_SA_RZ, NOK_SA_CDR]

NOK_index = 0
NOK_position = 0
NOK_SA_count = 0

In [19]:
# Create & Initialize & Set the pd.DataFrame
# NOKIA
NOK_col_names = ['MSS','Date','Time','Name','Number','LAC_Name', 'LAC','MCC','MNC','CI','Status','RZ', 'CDR']
df_NOK_MSS_SAs = pd.DataFrame(columns=NOK_col_names)
df_NOK_MSS_SAs.loc[0] = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time, NOK_SA_NAME,
                            NOK_SA_NO, NOK_SA_LAC_NAME, NOK_SA_LAC_NO, NOK_SA_MCC,
                            NOK_SA_MNC, NOK_SA_CI, NOK_SA_STAT, NOK_SA_RZ, NOK_SA_CDR]

In [20]:
# Especify the path of the log file
NOK_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEPO 3G - All_MSS.txt'

### Load log file

In [21]:
# Load the log file
NOK_log_file = NOK_ERI_Toolkit.open_file(NOK_path_to_file)

### Execute NOKIA PROGRAM

In [22]:
# Run the main program (txt => pd.DataFrame)
while (NOK_index < len(NOK_log_file)-1):
    NOK_index, NOK_position, NOK_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(NOK_log_file, NOK_index,'ZEPO:TYPE=SA;')
    while (NOK_index < len(NOK_log_file)-1) and (not NOK_position == 999):
        NOK_index, NOK_position, NOK_SA_Pars = NOK_ERI_Toolkit.get_zepo_3g_sa_pars(NOK_log_file, NOK_index)
        if (NOK_position >= 0) and (not NOK_position == 999):
            new_SA = NOK_MSS_Pars + NOK_SA_Pars
            df_NOK_MSS_SAs.loc[NOK_SA_count] = new_SA
            NOK_SA_count = NOK_SA_count + 1
    NOK_index = NOK_index + 1

### Drop columns & prepare to merge

In [23]:
# NOKIA DataFrame => Drop some columns to get just the most important ones.

df_NOK_MSS_CGIs = df_NOK_MSS_SAs

df_NOK_MSS_CGIs['CGI'] =  df_NOK_MSS_CGIs['MCC'] + '-' + \
    df_NOK_MSS_CGIs['MNC'] + '-' + df_NOK_MSS_CGIs['LAC'] + \
        '-' + df_NOK_MSS_CGIs['CI']

NOK_drop_col = ['Number', 'LAC_Name', 'Status', 'RZ', 'CDR']
df_NOK_MSS_CGIs = df_NOK_MSS_CGIs.drop(columns=NOK_drop_col)
df_NOK_MSS_CGIs['MSS'] = df_NOK_MSS_CGIs['MSS'].str.replace(r'0', '')
NOK_col = ['MSS', 'Date', 'Time', 'Name', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']
df_NOK_MSS_CGIs = df_NOK_MSS_CGIs[NOK_col]
df_NOK_MSS_CGIs['LAI'] = df_NOK_MSS_CGIs['MCC'] + '-' + df_NOK_MSS_CGIs['MNC'] + '-' +df_NOK_MSS_CGIs['LAC']
df_NOK_MSS_CGIs['MSS-LAI'] = df_NOK_MSS_CGIs['MSS'] + '-' + df_NOK_MSS_CGIs['LAI']

### Initialize variables

In [24]:
# NOKIA variables 
NOK_MSS_Name = '0'
NOK_MSS_Date = '0'
NOK_MSS_Time = '0'
RNC_NAME = '0'
RNC_MCC = '0'
RNC_MNC = '0'
RNC_ID = '0'
RNC_MUL_PLMN = '0'
RNC_STAT = '0'
RNC_OSTAT = '0'
RNC_LAC_MCC = '0'
RNC_LAC_MNC = '0'
RNC_LAC_NO = '0'

NOK_MSS_Pars = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time]
RNC_Pars = [RNC_NAME, RNC_MCC, RNC_MNC, RNC_ID, RNC_MUL_PLMN, RNC_STAT, RNC_OSTAT]
RNC_LAC_Pars = [RNC_LAC_MCC, RNC_LAC_MNC, RNC_LAC_NO]

NOK_index = 0
NOK_position = 0
NOK_RNC_LAC_count = 0
NOK_RNC_LAC_flag = 0

In [25]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# NOKIA
NOK_col_names = ['MSS','Date','Time','RNC','RNC_MCC','RNC_MNC','RNC_ID','RNC_MULT_PLMN',
                'RNC_STAT','RNC_OP_STAT','MCC','MNC','LAC']
df_NOK_MSS_RNC_LACs = pd.DataFrame(columns=NOK_col_names)
df_NOK_MSS_RNC_LACs.loc[0] = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time, RNC_NAME,
                            RNC_MCC, RNC_MNC, RNC_ID, RNC_MUL_PLMN, RNC_STAT, RNC_OSTAT,
                            RNC_LAC_MCC, RNC_LAC_MNC, RNC_LAC_NO]

In [26]:
# Especify the path of the NOKIA & ERICSSON log files 
NOK_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZE2I - All_MSS.txt'

### Load log file

In [27]:
# Load the log file
NOK_log_file = NOK_ERI_Toolkit.open_file(NOK_path_to_file)

### Execute NOKIA PROGRAM

In [28]:
# # Run the main program (txt => pd.DataFrame)
while (NOK_index < len(NOK_log_file)-1):
    NOK_index, NOK_position, NOK_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(NOK_log_file, NOK_index,'ZE2I::RT=ALL;')
    while (NOK_index < len(NOK_log_file)-1) and (not NOK_position == 999):
        NOK_index, NOK_position, RNC_Pars = NOK_ERI_Toolkit.get_ze2i_rnc_pars(NOK_log_file, NOK_index)
        while (NOK_index < len(NOK_log_file)-1) and (not NOK_position == 999):
            NOK_index, NOK_position, NOK_RNC_LAC_flag, RNC_LAC_Pars = NOK_ERI_Toolkit.get_ze2i_rnc_lac_pars(NOK_log_file, NOK_index, NOK_RNC_LAC_flag)
            if NOK_position == 999:                                                 # if 'COMMAND EXECUTED'
                NOK_index = NOK_index + 1                                           # Increase index to read next line
                break
            else:
                if (NOK_RNC_LAC_flag == 1):
                    new_RNC_LAC = NOK_MSS_Pars + RNC_Pars + RNC_LAC_Pars
                    df_NOK_MSS_RNC_LACs.loc[NOK_RNC_LAC_count] = new_RNC_LAC
                    NOK_RNC_LAC_count = NOK_RNC_LAC_count + 1
                else:
                    break

### Drop columns & prepare to merge

In [29]:
#NOKIA DataFrame => Drop some columns to get just the most important ones.

df_NOK_MSS_RNC_LAIs = df_NOK_MSS_RNC_LACs
df_NOK_MSS_RNC_LAIs['MSS'] = df_NOK_MSS_RNC_LAIs['MSS'].str.replace(r'0', '')
df_NOK_MSS_RNC_LAIs['LAI'] =  df_NOK_MSS_RNC_LAIs['MCC'] + '-' + df_NOK_MSS_RNC_LAIs['MNC'] + '-' + df_NOK_MSS_RNC_LAIs['LAC']
df_NOK_MSS_RNC_LAIs['MSS-LAI'] =  df_NOK_MSS_RNC_LAIs['MSS'] + '-' + df_NOK_MSS_RNC_LAIs['LAI']
df_NOK_MSS_RNC_LAIs['NE-LAI'] =  df_NOK_MSS_RNC_LAIs['RNC'] + '-' + df_NOK_MSS_RNC_LAIs['LAI']

NOK_drop_col = ['RNC_MCC', 'RNC_MNC', 'RNC_MULT_PLMN', 'RNC_STAT', 'RNC_OP_STAT', 'RNC_ID']
df_NOK_MSS_RNC_LAIs = df_NOK_MSS_RNC_LAIs.drop(columns=NOK_drop_col)
NOK_col = ['MSS', 'Date', 'Time', 'MCC', 'MNC', 'LAC', 'LAI', 'MSS-LAI', 'NE-LAI', 'RNC']
df_NOK_MSS_RNC_LAIs = df_NOK_MSS_RNC_LAIs[NOK_col]

### Putting all together

In [30]:
# Create a dictionary to map MSS-LAI to RNC & mapping on key=MSS-LAI
my_dict = dict(zip(df_NOK_MSS_RNC_LAIs['MSS-LAI'], df_NOK_MSS_RNC_LAIs['RNC']))                         # Create a dictionary to map MSS-LAI to RNC
df_NOK_MSS_CGIs['NE'] = df_NOK_MSS_CGIs['MSS-LAI'].map(my_dict)                                         # Create a new column NE (RNC) for mapping on key=MSS-LAI
NOK_drop_col = ['LAI', 'MSS-LAI']                                                                       # Define columns to drop 
df_NOK_MSS_CGIs = df_NOK_MSS_CGIs.drop(columns=NOK_drop_col)                                            # Drop columns
NOK_col = ['MSS', 'Date', 'Time', 'Name', 'NE', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']                       # Define the column's order
df_NOK_MSS_CGIs = df_NOK_MSS_CGIs[NOK_col]                                                              # Order the collumns
df_NOK_MSS_CGIs

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA6,2022-02-04,09:33:59,UBAAMA8301,RNCBA05,724,05,30971,30000,724-05-30971-30000
1,MSSBA6,2022-02-04,09:33:59,UBAAMA8302,RNCBA05,724,05,30971,30001,724-05-30971-30001
2,MSSBA6,2022-02-04,09:33:59,UBAAMA8303,RNCBA05,724,05,30971,30002,724-05-30971-30002
3,MSSBA6,2022-02-04,09:33:59,UBAAMA8351,RNCBA05,724,05,30971,30003,724-05-30971-30003
4,MSSBA6,2022-02-04,09:33:59,UBAAMA8352,RNCBA05,724,05,30971,30004,724-05-30971-30004
...,...,...,...,...,...,...,...,...,...,...
7567,MSSBAA,2022-02-04,09:35:50,UBAFSA71B,RNCBA04,724,05,30475,33370,724-05-30475-33370
7568,MSSBAA,2022-02-04,09:35:50,UBAFSA71C,RNCBA04,724,05,30475,33371,724-05-30475-33371
7569,MSSBAA,2022-02-04,09:35:50,UBAFSA71E,RNCBA04,724,05,30475,33372,724-05-30475-33372
7570,MSSBAA,2022-02-04,09:35:50,UBAFSA71F,RNCBA04,724,05,30475,33373,724-05-30475-33373
7571,MSSBAA,2022-02-04,09:35:50,UBAFSA71G,RNCBA04,724,05,30475,33374,724-05-30475-33374

### Plot + Insights

In [31]:
# Continue...