# Change LAC MSS Nokia

## Import modules

In [ ]:
import pandas as pd
import numpy as np
import re as re
from matplotlib import pyplot as plt
import seaborn as sns

## Load data and clean it up if necessary

In [ ]:
xls = pd.ExcelFile('PROJETO ROAMING 30K - Novas Liberações Rev3 - BASE.xlsx') #Read excel file
df1 = pd.read_excel(xls, 'MSSBAA')                                            #Read specific sheet 
df1 = df1.dropna()                                                            #Drop NaN values
df1 = df1.drop(columns=['MSS','Date','Time', 'SA_NO','LA_NAME',                       #Drop column a specific column
                        'SA_AD_STATE','RZ','TA'])          
df1 = df1.rename(columns = {'SA_NAME': 'NAME',                                   #Rename Columns
                            'CDR': 'CN',
                            'cgi': 'CGI',
                            'NEW LAC': 'New_LAC',
                            }, inplace = False)
df1 = df1.reset_index().drop('index', axis=1)                                 #Reset index and drop the created column 'index'
df1['New_LAC'] = df1['New_LAC'].astype(int)                                   #Convert a col to int
df1 = df1.astype(str)                                                         #Covnert the entire df to str
df1['New_CGI'] = '724-05-' + df1['New_LAC'] + '-' + df1['CI']                 #Creat new col
df1['DE_PARA'] = 'DE LAC=' + df1['LAC'] + ' => PARA LAC=' + df1['New_LAC']
df1.head(10)

        NAME    LAC  ...             New_CGI                         DE_PARA
0  UBAVDA01A  30474  ...  724-05-51974-61383  DE LAC=30474 => PARA LAC=51974
1  UBAVDA01B  30474  ...  724-05-51974-61384  DE LAC=30474 => PARA LAC=51974
2  UBAVDA01C  30474  ...  724-05-51974-61385  DE LAC=30474 => PARA LAC=51974
3  UBAVDA01E  30474  ...  724-05-51974-61386  DE LAC=30474 => PARA LAC=51974
4  UBAVDA01F  30474  ...  724-05-51974-61387  DE LAC=30474 => PARA LAC=51974
5  UBAVDA01G  30474  ...  724-05-51974-61388  DE LAC=30474 => PARA LAC=51974

[6 rows x 12 columns]

In [ ]:
df2 = df1[['Municipio','DE_PARA']]               #Get a specific column
df2 = df2.drop_duplicates()                      #Drop duplicates
df2 = df2.reset_index().drop('index', axis=1)    #Reset index and drop the created column 'index'
df2.head()                                       #View data

        Municipio                         DE_PARA
0  VÁRZEA DA ROÇA  DE LAC=30474 => PARA LAC=51974

In [ ]:
def print_commands(df, mun, cmd='cmd'):
    for cell in range(len(df)):
      MUN = str(df.Municipio[cell])
      if cmd == 'cmd':
        if MUN == mun:
          print('ZEPO:TYPE=SA,NAME=' + df1.NAME[cell] + ';')
          print('ZEPS:TYPE=SA,NAME=' + df1.NAME[cell] + ':L;')
          print('ZEPF:TYPE=SA,SANAME=' + df1.NAME[cell] + ':MGWNBR=MSS:MCC=724,MNC=05,LAC=' + df1.New_LAC[cell] + ';')
          print('ZEPS:TYPE=SA,NAME=' + df1.NAME[cell] + ':U;\n')

      if cmd == 'fb':
        if MUN == mun:
          print('ZEPO:TYPE=SA,NAME=' + df1.NAME[cell] + ';')
          print('ZEPS:TYPE=SA,NAME=' + df1.NAME[cell] + ':L;')
          print('ZEPF:TYPE=SA,SANAME=' + df1.NAME[cell] + ':MGWNBR=MSS:MCC=724,MNC=05,LAC=' + df1.LAC[cell] + ';')
          print('ZEPS:TYPE=SA,NAME=' + df1.NAME[cell] + ':U;\n')

In [ ]:
for i in range(len(df2)):
  MUN = df2.Municipio[i]
  DE_PARA = df2.DE_PARA[i]
  print('! ' + MUN + ' | ' + DE_PARA)
  print('!--------------------------------------------------------------------------------------')
  print_commands(df1, MUN, 'cmd')

! VÁRZEA DA ROÇA | DE LAC=30474 => PARA LAC=51974
!--------------------------------------------------------------------------------------
ZEPO:TYPE=SA,NAME=UBAVDA01A;
ZEPS:TYPE=SA,NAME=UBAVDA01A:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01A:MGWNBR=MSS:MCC=724,MNC=05,LAC=51974;
ZEPS:TYPE=SA,NAME=UBAVDA01A:U;

ZEPO:TYPE=SA,NAME=UBAVDA01B;
ZEPS:TYPE=SA,NAME=UBAVDA01B:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01B:MGWNBR=MSS:MCC=724,MNC=05,LAC=51974;
ZEPS:TYPE=SA,NAME=UBAVDA01B:U;

ZEPO:TYPE=SA,NAME=UBAVDA01C;
ZEPS:TYPE=SA,NAME=UBAVDA01C:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01C:MGWNBR=MSS:MCC=724,MNC=05,LAC=51974;
ZEPS:TYPE=SA,NAME=UBAVDA01C:U;

ZEPO:TYPE=SA,NAME=UBAVDA01E;
ZEPS:TYPE=SA,NAME=UBAVDA01E:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01E:MGWNBR=MSS:MCC=724,MNC=05,LAC=51974;
ZEPS:TYPE=SA,NAME=UBAVDA01E:U;

ZEPO:TYPE=SA,NAME=UBAVDA01F;
ZEPS:TYPE=SA,NAME=UBAVDA01F:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01F:MGWNBR=MSS:MCC=724,MNC=05,LAC=51974;
ZEPS:TYPE=SA,NAME=UBAVDA01F:U;

ZEPO:TYPE=SA,NAME=UBAVDA01G;
ZEPS:TYPE=SA,NAME=UBAVDA01G:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01G:MGWNBR=MSS:MCC=724,MNC=05,LAC=51974;
ZEPS:TYPE=SA,NAME=UBAVDA01G:U;

In [ ]:
for i in range(len(df2)):
  MUN = df2.Municipio[i]
  DE_PARA = df2.DE_PARA[i]
  print('! ' + MUN + ' | ' + DE_PARA)
  print('!--------------------------------------------------------------------------------------')
  print_commands(df1, MUN, 'fb')

! VÁRZEA DA ROÇA | DE LAC=30474 => PARA LAC=51974
!--------------------------------------------------------------------------------------
ZEPO:TYPE=SA,NAME=UBAVDA01A;
ZEPS:TYPE=SA,NAME=UBAVDA01A:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01A:MGWNBR=MSS:MCC=724,MNC=05,LAC=30474;
ZEPS:TYPE=SA,NAME=UBAVDA01A:U;

ZEPO:TYPE=SA,NAME=UBAVDA01B;
ZEPS:TYPE=SA,NAME=UBAVDA01B:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01B:MGWNBR=MSS:MCC=724,MNC=05,LAC=30474;
ZEPS:TYPE=SA,NAME=UBAVDA01B:U;

ZEPO:TYPE=SA,NAME=UBAVDA01C;
ZEPS:TYPE=SA,NAME=UBAVDA01C:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01C:MGWNBR=MSS:MCC=724,MNC=05,LAC=30474;
ZEPS:TYPE=SA,NAME=UBAVDA01C:U;

ZEPO:TYPE=SA,NAME=UBAVDA01E;
ZEPS:TYPE=SA,NAME=UBAVDA01E:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01E:MGWNBR=MSS:MCC=724,MNC=05,LAC=30474;
ZEPS:TYPE=SA,NAME=UBAVDA01E:U;

ZEPO:TYPE=SA,NAME=UBAVDA01F;
ZEPS:TYPE=SA,NAME=UBAVDA01F:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01F:MGWNBR=MSS:MCC=724,MNC=05,LAC=30474;
ZEPS:TYPE=SA,NAME=UBAVDA01F:U;

ZEPO:TYPE=SA,NAME=UBAVDA01G;
ZEPS:TYPE=SA,NAME=UBAVDA01G:L;
ZEPF:TYPE=SA,SANAME=UBAVDA01G:MGWNBR=MSS:MCC=724,MNC=05,LAC=30474;
ZEPS:TYPE=SA,NAME=UBAVDA01G:U;