# LACs DEFINED IN ALL MSSs (NOKIA + ERICSSON)

## Import Modules

In [12]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [13]:
# Initialize NOKIA, ERICSSON & COMMON variables

# NOKIA variables 
NOK_MSS_Name = '0'
NOK_MSS_Date = '0'
NOK_MSS_Time = '0'
NOK_LAC_MCC = '0'
NOK_LAC_MNC = '0'
NOK_LAC_NO = '0'
NOK_LAC_NAME = '0'
NOK_LAC_AT = '0'
NOK_LAC_REPAG_INT = '0'
NOK_LAC_RNGP = '0'
NOK_LAC_MNC_AL = '0'
NOK_LAC_DSAV = '0'
NOK_LAC_TZ = '0'
NOK_LAC_HONLA = '0'

NOK_MSS_Pars = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time]
NOK_LAC_Pars = [NOK_LAC_MCC, NOK_LAC_MNC, NOK_LAC_NO, NOK_LAC_NAME, NOK_LAC_AT, NOK_LAC_REPAG_INT, NOK_LAC_RNGP, NOK_LAC_MNC_AL, NOK_LAC_DSAV, NOK_LAC_TZ, NOK_LAC_HONLA]

NOK_index = 0
NOK_position = 0
NOK_LAC_count = 0

# ERICSSON variables 
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'
ERI_LAC_MCC = '0'
ERI_LAC_MNC = '0'
ERI_LAC_NO = '0'
ERI_LAC_LAI = '0'
ERI_LAC_PFC = '0'
ERI_LAC_PRL = '0'
ERI_LAC_POOL = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
ERI_LAC_Pars = [ERI_LAC_MCC, ERI_LAC_MNC, ERI_LAC_NO, ERI_LAC_LAI, ERI_LAC_PFC, ERI_LAC_PRL, ERI_LAC_POOL]

ERI_index = 0
ERI_position = 0
ERI_LAC_count = 0

# COMMON variables

In [14]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# NOKIA
NOK_col_names = ['MSS','Date','Time','MCC','MNC','LAC_str','LAC_NAME','AT','INT','RNGP','MNC_AL','DSAV','TZ','HONLA']
df_NOK_MSS_LACs = pd.DataFrame(columns=NOK_col_names)
df_NOK_MSS_LACs.loc[0] = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time,
                            NOK_LAC_MCC, NOK_LAC_MNC, NOK_LAC_NO, NOK_LAC_NAME,
                            NOK_LAC_AT, NOK_LAC_REPAG_INT, NOK_LAC_RNGP, NOK_LAC_MNC_AL,
                            NOK_LAC_DSAV, NOK_LAC_TZ, NOK_LAC_HONLA]

# ERICSSON
ERI_col_names = ['MSS','Date','Time','MCC','MNC','LAC_str','LAC_NAME','PFC','PRL','POOL']
df_ERI_MSS_LACs = pd.DataFrame(columns=ERI_col_names)
df_ERI_MSS_LACs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            ERI_LAC_MCC, ERI_LAC_MNC, ERI_LAC_NO,ERI_LAC_LAI,
                            ERI_LAC_PFC, ERI_LAC_PRL, ERI_LAC_POOL]

In [15]:
# Especify the path of the NOKIA & ERICSSON log files 
path_to_NOK_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZELO - All_MSS.txt'
path_to_ERI_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGLAP.txt'

### Load log file

In [16]:
# Load the log files
NOK_log_file = NOK_ERI_Toolkit.open_file(path_to_NOK_file)
ERI_log_file = NOK_ERI_Toolkit.open_file(path_to_ERI_file)

### Execute NOKIA PROGRAM

In [17]:
# Run the main program (txt => pd.DataFrame)
while (NOK_index < len(NOK_log_file)-1):
    NOK_index, NOK_position, NOK_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(NOK_log_file, NOK_index,'ZELO;')
    while (NOK_index < len(NOK_log_file)-1) and (not NOK_position == 999):
        NOK_index, NOK_position, NOK_LAC_Pars = NOK_ERI_Toolkit.get_zelo_lac_pars(NOK_log_file,NOK_index)
        if NOK_position == 999:                                                 # if 'COMMAND EXECUTED'
            NOK_index = NOK_index + 1                                           # Increase index to read next line
        else:
            new_LAC = NOK_MSS_Pars + NOK_LAC_Pars
            df_NOK_MSS_LACs.loc[NOK_LAC_count] = new_LAC
            NOK_LAC_count = NOK_LAC_count + 1

### Execute ERICSSON PROGRAM

In [18]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mglap_lac_pars(ERI_log_file,ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mglap_lac_pars(ERI_log_file, ERI_index)
            if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_LAC = ERI_MSS_Pars + ERI_LAC_Pars
                df_ERI_MSS_LACs.loc[ERI_LAC_count] = new_LAC
                ERI_LAC_count = ERI_LAC_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [19]:
# NOKIA DataFrame => Drop some columns to get just the most important ones.

df_NOK_MSS_LAIs = df_NOK_MSS_LACs
df_NOK_MSS_LAIs['LAC'] =  df_NOK_MSS_LAIs['LAC_str'].astype(int)
df_NOK_MSS_LAIs['LAI'] =  df_NOK_MSS_LAIs['MCC'] + '-' + df_NOK_MSS_LAIs['MNC'] + '-' + df_NOK_MSS_LAIs['LAC'].astype(str)
df_NOK_MSS_LAIs['MSS-LAI'] =  df_NOK_MSS_LAIs['MSS'] + '-' + df_NOK_MSS_LAIs['LAI']

df_NOK_MSS_LAIs['MSS'] = df_NOK_MSS_LAIs['MSS'].str.replace(r'0', '')
NOK_drop_col = ['LAC_str','LAC_NAME','AT', 'INT', 'RNGP', 'MNC_AL', 'DSAV', 'TZ', 'HONLA']
df_NOK_MSS_LAIs = df_NOK_MSS_LAIs.drop(columns=NOK_drop_col)

In [20]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_LAIs = df_ERI_MSS_LACs
df_ERI_MSS_LAIs['LAC'] =  df_ERI_MSS_LAIs['LAC_str'].astype(int)
df_ERI_MSS_LAIs['LAI'] =  df_ERI_MSS_LAIs['MCC'] + '-' + df_ERI_MSS_LAIs['MNC'] + '-' + df_ERI_MSS_LAIs['LAC'].astype(str)
df_ERI_MSS_LAIs['MSS-LAI'] =  df_ERI_MSS_LAIs['MSS'] + '-' + df_ERI_MSS_LAIs['LAI']
ERI_drop_col = ['LAC_str','LAC_NAME', 'PFC', 'PRL', 'POOL']
df_ERI_MSS_LAIs = df_ERI_MSS_LAIs.drop(columns=ERI_drop_col)

### Merge & Sort & Print

In [21]:
# Merge & Sort & Print NOKIA and ERICSSON.

df_NOK_ERI_MSS_LACs = df_NOK_MSS_LAIs.append(df_ERI_MSS_LAIs, ignore_index=True)
df_NOK_ERI_MSS_LACs['LAC'] =  df_NOK_ERI_MSS_LACs['LAC'].astype(int)
df_NOK_ERI_MSS_LACs = df_NOK_ERI_MSS_LACs.sort_values(by=['MSS','LAC'], ignore_index=True)
df_NOK_ERI_MSS_LACs['LAC'] =  df_NOK_ERI_MSS_LACs['LAC'].astype(str)
df_NOK_ERI_MSS_LACs

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,724,05,973,724-05-973,MSSBA3-724-05-973
1,MSSBA3,0000-00-00,00:00:00,724,05,20273,724-05-20273,MSSBA3-724-05-20273
2,MSSBA3,0000-00-00,00:00:00,724,05,30171,724-05-30171,MSSBA3-724-05-30171
3,MSSBA3,0000-00-00,00:00:00,724,05,30173,724-05-30173,MSSBA3-724-05-30173
4,MSSBA3,0000-00-00,00:00:00,724,05,30174,724-05-30174,MSSBA3-724-05-30174
...,...,...,...,...,...,...,...,...
577,MSSBAA,2022-02-04,09:50:20,724,05,55174,724-05-55174,MSSBA0A-724-05-55174
578,MSSBAA,2022-02-04,09:50:20,724,05,55375,724-05-55375,MSSBA0A-724-05-55375
579,MSSBAA,2022-02-04,09:50:20,724,11,60071,724-11-60071,MSSBA0A-724-11-60071
580,MSSBAA,2022-02-04,09:50:20,724,05,60274,724-05-60274,MSSBA0A-724-05-60274
581,MSSBAA,2022-02-04,09:50:20,724,05,60474,724-05-60474,MSSBA0A-724-05-60474

### Plot + Insights

In [22]:
# Continue...