# ALL LACs of ALL ERICSSON MSSs

## Import Modules

In [9]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [10]:
# Initialize NOKIA, ERICSSON & COMMON variables

# ERICSSON
ERI_MSS_Name = '0'
ERI_MSS_Date = '0'
ERI_MSS_Time = '0'
RNC_NAME = '0'
RNC_LAC_MCC = '0'
RNC_LAC_MNC = '0'
RNC_LAC_NO = '0'

ERI_MSS_Pars = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time]
RNC_Pars = [RNC_NAME]
RNC_LAC_Pars = [RNC_LAC_MCC, RNC_LAC_MNC, RNC_LAC_NO]

ERI_index = 0
ERI_position = 0
ERI_RNC_LAC_count = 0
ERI_RNC_LAC_flag = 0

In [11]:
# Create & Initialize & Set the NOKIA & ERICSSON pd.DataFrame

# ERICSSON
col_names = ['MSS','Date','Time','RNC','MCC','MNC','LAC']
df_ERI_MSS_RNC_LACs = pd.DataFrame(columns=col_names)
df_ERI_MSS_RNC_LACs.loc[0] = [ERI_MSS_Name, ERI_MSS_Date, ERI_MSS_Time,
                            RNC_NAME, RNC_LAC_MCC, RNC_LAC_MNC, RNC_LAC_NO]

In [12]:
# Especify the path of the NOKIA & ERICSSON log files 
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGMAP.txt'

### Load log file

In [13]:
# Load the log file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute ERICSSON PROGRAM

In [14]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    while(ERI_position >= 0) and (not ERI_position == 998):
        ERI_index, ERI_position, RNC_Pars = NOK_ERI_Toolkit.get_mgmap_rnc_pars(ERI_log_file, ERI_index)
        if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            ERI_index, ERI_position, RNC_LAC_Pars = NOK_ERI_Toolkit.get_mgmap_rnc_lac_pars(ERI_log_file, ERI_index)
            while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                ERI_index, ERI_position, RNC_LAC_Pars = NOK_ERI_Toolkit.get_mgmap_rnc_lac_pars(ERI_log_file, ERI_index)
                if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                    new_RNC_LAC = ERI_MSS_Pars + RNC_Pars + RNC_LAC_Pars
                    df_ERI_MSS_RNC_LACs.loc[ERI_RNC_LAC_count] = new_RNC_LAC
                    ERI_RNC_LAC_count = ERI_RNC_LAC_count + 1
                ERI_index = ERI_index + 1
        ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [15]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_RNC_LAIs = df_ERI_MSS_RNC_LACs
df_ERI_MSS_RNC_LAIs['LAI'] =  df_ERI_MSS_RNC_LAIs['MCC'] + '-' + df_ERI_MSS_RNC_LAIs['MNC'] + '-' + df_ERI_MSS_RNC_LAIs['LAC']
df_ERI_MSS_RNC_LAIs['MSS-LAI'] =  df_ERI_MSS_RNC_LAIs['MSS'] + '-' + df_ERI_MSS_RNC_LAIs['LAI']
df_ERI_MSS_RNC_LAIs['NE-LAI'] =  df_ERI_MSS_RNC_LAIs['RNC'] + '-' + df_ERI_MSS_RNC_LAIs['LAI']

ERI_drop_col = []
df_ERI_MSS_RNC_LAIs = df_ERI_MSS_RNC_LAIs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'MCC', 'MNC', 'LAC', 'LAI', 'MSS-LAI', 'NE-LAI', 'RNC']
df_ERI_MSS_RNC_LAIs = df_ERI_MSS_RNC_LAIs[ERI_col]
df_ERI_MSS_RNC_LAIs

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI,RNC
0,MSSBA3,0000-00-00,00:00:00,724,05,50877,724-05-50877,MSSBA3-724-05-50877,RNCBA01-724-05-50877,RNCBA01
1,MSSBA3,0000-00-00,00:00:00,724,05,51477,724-05-51477,MSSBA3-724-05-51477,RNCBA01-724-05-51477,RNCBA01
2,MSSBA3,0000-00-00,00:00:00,724,05,52377,724-05-52377,MSSBA3-724-05-52377,RNCBA01-724-05-52377,RNCBA01
3,MSSBA3,0000-00-00,00:00:00,724,05,54477,724-05-54477,MSSBA3-724-05-54477,RNCBA01-724-05-54477,RNCBA01
4,MSSBA3,0000-00-00,00:00:00,724,05,51077,724-05-51077,MSSBA3-724-05-51077,RNCBA01-724-05-51077,RNCBA01
...,...,...,...,...,...,...,...,...,...,...
117,MSSBA8,0000-00-00,00:00:00,724,05,30377,724-05-30377,MSSBA8-724-05-30377,RNCBA06-724-05-30377,RNCBA06
118,MSSBA8,0000-00-00,00:00:00,724,05,30373,724-05-30373,MSSBA8-724-05-30373,RNCBA06-724-05-30373,RNCBA06
119,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,MSSBA8-724-05-55173,RNCBA88-724-05-55173,RNCBA88
120,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,MSSBA8-724-05-55075,RNCBA88-724-05-55075,RNCBA88
121,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,MSSBA8-724-05-55171,RNCBA88-724-05-55171,RNCBA88

### Plot + Insights

In [16]:
# Continue...