# ALL 2G CELL of ALL NOKIA'S MSSs

## Import Modules

In [1]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

## Main Program

### Initialize variables

In [2]:
# NOKIA variables 
NOK_MSS_Name = '0'
NOK_MSS_Date = '0'
NOK_MSS_Time = '0'
NOK_CELL_NAME = '0'
NOK_CELL_NO = '0'
NOK_CELL_BSC_NAME = '0'
NOK_CELL_BSC_NO = '0'
NOK_CELL_LAC_NAME = '0'
NOK_CELL_LAC_NO = '0'
NOK_CELL_MCC = '0'
NOK_CELL_MNC = '0'
NOK_CELL_CI = '0'
NOK_CELL_STAT = '0'
NOK_CELL_RZ = '0'
NOK_CELL_CDR = '0'

NOK_MSS_Pars = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time]
NOK_CELL_Pars = [NOK_CELL_NAME, NOK_CELL_NO, NOK_CELL_BSC_NAME, NOK_CELL_BSC_NO, NOK_CELL_LAC_NAME, NOK_CELL_LAC_NO, NOK_CELL_MCC, NOK_CELL_MNC, NOK_CELL_CI, NOK_CELL_STAT, NOK_CELL_RZ, NOK_CELL_CDR]

NOK_index = 0
NOK_position = 0
NOK_CELL_count = 0

In [3]:
# Create & Initialize & Set the pd.DataFrame
# NOKIA
NOK_col_names = ['MSS','Date','Time','Name','Number','NE','NE_No','LAC_Name','MCC','MNC','LAC','CI','Status','RZ', 'CDR']
df_NOK_MSS_CELLs = pd.DataFrame(columns=NOK_col_names)
df_NOK_MSS_CELLs.loc[0] = [NOK_MSS_Name, NOK_MSS_Date, NOK_MSS_Time, NOK_CELL_NAME, NOK_CELL_NO, NOK_CELL_BSC_NAME,
                            NOK_CELL_BSC_NO, NOK_CELL_LAC_NAME, NOK_CELL_MCC, NOK_CELL_MNC, NOK_CELL_LAC_NO, NOK_CELL_CI,
                            NOK_CELL_STAT, NOK_CELL_RZ, NOK_CELL_CDR]

In [4]:
# Especify the path of the log file
NOK_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEPO 2G - All_MSS.txt'

### Load log file

In [5]:
# Load the log file
NOK_log_file = NOK_ERI_Toolkit.open_file(NOK_path_to_file)

### Execute NOKIA PROGRAM

In [6]:
# Run the main program (txt => pd.DataFrame)
while (NOK_index < len(NOK_log_file)-1):
    NOK_index, NOK_position, NOK_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(NOK_log_file, NOK_index,'ZEPO;')
    while (NOK_index < len(NOK_log_file)-1) and (not NOK_position == 999):
        NOK_index, NOK_position, NOK_CELL_Pars = NOK_ERI_Toolkit.get_zepo_2g_cell_pars(NOK_log_file, NOK_index)
        if (NOK_position >= 0) and (not NOK_position == 999):
            new_CELL = NOK_MSS_Pars + NOK_CELL_Pars
            df_NOK_MSS_CELLs.loc[NOK_CELL_count] = new_CELL
            NOK_CELL_count = NOK_CELL_count + 1
    NOK_index = NOK_index + 1

### Drop columns & prepare to merge

In [7]:
# NOKIA DataFrame => Drop some columns to get just the most important ones.

df_NOK_MSS_CGIs = df_NOK_MSS_CELLs

df_NOK_MSS_CGIs['CGI'] =  df_NOK_MSS_CGIs['MCC'] + '-' + \
    df_NOK_MSS_CGIs['MNC'] + '-' + df_NOK_MSS_CGIs['LAC'] + \
        '-' + df_NOK_MSS_CGIs['CI']

NOK_drop_col = ['Number', 'NE_No', 'LAC_Name', 'Status', 'RZ', 'CDR']
df_NOK_MSS_CGIs = df_NOK_MSS_CGIs.drop(columns=NOK_drop_col)
df_NOK_MSS_CGIs['MSS'] = df_NOK_MSS_CGIs['MSS'].str.replace(r'0', '')
NOK_col = ['MSS', 'Date', 'Time', 'Name', 'NE', 'MCC', 'MNC', 'LAC', 'CI', 'CGI']
df_NOK_MSS_CGIs = df_NOK_MSS_CGIs[NOK_col]
df_NOK_MSS_CGIs

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA6,2022-02-04,09:26:33,BAFSAB71,BSCBA49,724,05,2575,710,724-05-2575-710
1,MSSBA6,2022-02-04,09:26:33,BAFSAB72,BSCBA49,724,05,2575,10710,724-05-2575-10710
2,MSSBA6,2022-02-04,09:26:33,BAFSA011,BSCBA49,724,05,1475,108,724-05-1475-108
3,MSSBA6,2022-02-04,09:26:33,BAFSA012,BSCBA49,724,05,1475,10108,724-05-1475-10108
4,MSSBA6,2022-02-04,09:26:33,BAFSA013,BSCBA49,724,05,1475,20108,724-05-1475-20108
...,...,...,...,...,...,...,...,...,...,...
3704,MSSBAA,2022-02-04,09:29:03,BAALG0202,BSCBA63,724,05,1075,23132,724-05-1075-23132
3705,MSSBAA,2022-02-04,09:29:03,BAALG0203,BSCBA63,724,05,1075,23133,724-05-1075-23133
3706,MSSBAA,2022-02-04,09:29:03,BAALG0205,BSCBA63,724,05,1075,23134,724-05-1075-23134
3707,MSSBAA,2022-02-04,09:29:03,BAALG0206,BSCBA63,724,05,1075,23135,724-05-1075-23135
3708,MSSBAA,2022-02-04,09:29:03,BAALG0207,BSCBA63,724,05,1075,23136,724-05-1075-23136

### Plot + Insights

In [8]:
# Continue...