# Create Roaming 30k LAI in Nokia MSS

## Import modules

In [ ]:
import pandas as pd
import numpy as np
import re as re
from matplotlib import pyplot as plt
import seaborn as sns

## Load data and clean it up if necessary

In [ ]:
xls = pd.ExcelFile('PROJETO ROAMING 30K - Novas Liberações Rev1 - BASE.xlsx') #Read excel file
df1 = pd.read_excel(xls, 'LAC')                                               #Read specific sheet 
df1 = df1.drop_duplicates(subset=['MUNICIPIO'])                                     #Drop duplicates by specific column
df1                                                                           #View data

        RNC    LAC                 MUNICIPIO               R30K     MSS
0   RNCBA06  52277                   Aracatu  CLARO>VIVO|TIM|OI  MSSBA8
1   RNCBA06  50575                   Brejões       CLARO>TIM|OI  MSSBA8
2   RNCBA06  52375                   Boninal      CLARO>VIVO|OI  MSSBA8
3   RNCBA06  53275        Boa Vista do Tupim     CLARO>VIVO|TIM  MSSBA8
4   RNCBA06  53677                  Botuporã      CLARO>VIVO|OI  MSSBA8
5   RNCBA06  51577                  Caetanos     CLARO>VIVO|TIM  MSSBA8
6   RNCBA06  51677                   Candiba  CLARO>VIVO|TIM|OI  MSSBA8
7   RNCBA06  51777                  Cotegipe          CLARO>TIM  MSSBA8
8   RNCBA06  51877               Dom Basílio      CLARO>VIVO|OI  MSSBA8
9   RNCBA06  51977                    Ituaçu  CLARO>VIVO|TIM|OI  MSSBA8
10  RNCBA06  52077                     Iuiú2           CLARO>OI  MSSBA8
11  RNCBA01  52177                      Iuiú           CLARO>OI  MSSBA3
12  RNCBA06  53777                Ibipitanga      CLARO>VIVO|OI  MSSBA8
13  RNCBA06  51277                  Ibitiara      CLARO>VIVO|OI  MSSBA8
14  RNCBA06  53877                  Jacaraci      CLARO>VIVO|OI  MSSBA8
15  RNCBA02  51975                 Jiquiriçá         CLARO>VIVO  MSSBA8
16  RNCBA06  52775                    Mucugê  CLARO>VIVO|TIM|OI  MSSBA8
17  RNCBA06  50173                Nova Canaã     CLARO>VIVO|TIM  MSSBA8
18  RNCBA06  53075                Nordestina      CLARO>VIVO|OI  MSSBA8
19  RNCBA06  52477  Presidente Jânio Quadros     CLARO>VIVO|TIM  MSSBA8
20  RNCBA06  52074                Ponto Novo       CLARO>TIM|OI  MSSBA8
21  RNCBA06  53275           Pedro Alexandre     CLARO>VIVO|TIM  MSSBA8
22  RNCBA01  52577            Rio do Antônio     CLARO>VIVO|TIM  MSSBA3
23  RNCBA06  54077             Rio de Contas  CLARO>VIVO|TIM|OI  MSSBA8
24  RNCBA06  51275             Santa Brígida          CLARO>TIM  MSSBA8
25  RNCBA06  50975             Souto Soares2      CLARO>VIVO|OI  MSSBA8
26  RNCBA02  51075              Souto Soares      CLARO>VIVO|OI  MSSBA8
27  RNCBA04  51974            Várzea da Roça          CLARO>TIM  MSSBAA

In [ ]:
df2 = df1['MSS']                                 #Get a specific column
df2 = df2.drop_duplicates()                      #Drop duplicates
df2 = df2.reset_index().drop('index', axis=1)    #Reset index and drop the created column 'index'
df2 = df2.sort_values('MSS', ascending=True)     #Sort values by column 'MSS'
df2 = df2.reset_index().drop('index', axis=1)    #Reset index and drop the created column 'index'
df2                                              #View data

      MSS
0  MSSBA3
1  MSSBA8
2  MSSBAA

In [ ]:
def print_commands(df, mss):
    for municipio in range(len(df1)):
      MSS = str(df1.MSS[municipio])
      if MSS == mss:
        NAME = 'LAC' + str(df1.LAC[municipio])
        LAC = str(df1.LAC[municipio])
        RNGP = 'XXX'
        HONLA = 'XXX'
        RNC = str(df1.RNC[municipio])
        CN = str(df1.LAC[municipio])[-2:]
        Municipio = str(df1.MUNICIPIO[municipio])
        zc_Claro = True
        zc_VIVO = False
        zc_OI = False
        zc_TIM = False
        zc_CTBC = True
        zc_NEXTEL = False

        if 'VIVO' in str(df1.R30K[municipio]):
          zc_VIVO = True

        if 'OI' in str(df1.R30K[municipio]):
          zc_OI = True

        if 'TIM' in str(df1.R30K[municipio]):
          zc_TIM = True

        print('!' + Municipio)
        print('ZELC:NAME=' + NAME + ',LAC=' + LAC + ',MCC=724,MNC=05;')
        print('ZELE:NAME=' + NAME + ':RNGP=' + RNGP + ',HONLA=' + HONLA + ';')
        print('ZELP:NAME=' + NAME + ':AT=001,INT=00600;')
        if (zc_Claro): print('ZEKA:ZC=0:LAC=' + LAC + ':Y;')
        if (zc_VIVO): print('ZEKA:ZC=1:LAC=' + LAC + ':Y;')
        if (zc_OI): print('ZEKA:ZC=2:LAC=' + LAC + ':Y;')
        if (zc_TIM): print('ZEKA:ZC=3:LAC=' + LAC + ':Y;')
        if (zc_CTBC): print('ZEKA:ZC=4:LAC=' + LAC + ':Y;')
        if (zc_NEXTEL): print('ZEKA:ZC=5:LAC=' + LAC + ':Y;')
        print('ZEKO:LAC=' + LAC + ';')
        print('ZELO:LAC=' + LAC + ';\n')

In [ ]:
for i in range(len(df2)):
  MSS = df2.MSS[i]

  if ((MSS == 'MSSBA6') or (MSS == 'MSSBA9') or (MSS == 'MSSBAA')):
    print('! ' + MSS)
    print('!--------------------------------------------------------------------------------------')
    print('!--------------------------------------------------------------------------------------')
    print_commands(df1, MSS)

! MSSBAA
!--------------------------------------------------------------------------------------
!--------------------------------------------------------------------------------------
!Várzea da Roça
ZELC:NAME=LAC51974,LAC=51974,MCC=724,MNC=05;
ZELE:NAME=LAC51974:RNGP=XXX,HONLA=XXX;
ZELP:NAME=LAC51974:AT=001,INT=00600;
ZEKA:ZC=0:LAC=51974:Y;
ZEKA:ZC=3:LAC=51974:Y;
ZEKA:ZC=4:LAC=51974:Y;
ZEKO:LAC=51974;
ZELO:LAC=51974;