# ALL LACs of ALL MSSs

## Import Modules

In [1]:
# Import modules (NOK_ERI_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

## Main Program

### Initialize variables

In [2]:
# Initialize variables used in the program 
MSS_Name = '0'
MSS_Date = '0'
MSS_Time = '0'
LAC_MCC = '0'
LAC_MNC = '0'
LAC_NO = '0'
LAC_NAME = '0'
LAC_AT = '0'
LAC_REPAG_INT = '0'
LAC_RNGP = '0'
LAC_MNC_AL = '0'
LAC_DSAV = '0'
LAC_TZ = '0'
LAC_HONLA = '0'

MSS_Pars = [MSS_Name, MSS_Date, MSS_Time]
LAC_Pars = [LAC_MCC, LAC_MNC, LAC_NO, LAC_NAME, LAC_AT, LAC_REPAG_INT, LAC_RNGP, LAC_MNC_AL, LAC_DSAV, LAC_TZ, LAC_HONLA]

index = 0
position = 0
LAC_count = 0

In [3]:
# Create & Initialize & Set the pd.DataFrame
col_names = ['MSS','Date','Time','MCC','MNC','LAC_str','LAC_NAME','AT','INT','RNGP','MNC_AL','DSAV','TZ','HONLA']
df_MSS_LACs = pd.DataFrame(columns=col_names)
df_MSS_LACs.loc[0] = [MSS_Name, MSS_Date, MSS_Time, LAC_MCC, LAC_MNC, LAC_NO, LAC_NAME, LAC_AT, LAC_REPAG_INT, LAC_RNGP, LAC_MNC_AL, LAC_DSAV, LAC_TZ, LAC_HONLA]

In [4]:
# Especify the path of the log file
path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZELO - All_MSS.txt'

### Load log file

In [5]:
# Load the log file
log_file = NOK_ERI_Toolkit.open_file(path_to_file)

### Execute & Create pd.DataFrame & Pring (Main Function)

In [6]:
# Run the main program (txt => pd.DataFrame)
while (index < len(log_file)-1):
    index, position, MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(log_file, index,'ZELO;')
    while (index < len(log_file)-1) and (not position == 999):
        index, position, LAC_Pars = NOK_ERI_Toolkit.get_zelo_lac_pars(log_file,index)
        if position == 999:                                         # if 'COMMAND EXECUTED'
            index = index + 1                                       # Increase index to read next line
        else:
            new_LAC = MSS_Pars + LAC_Pars
            df_MSS_LACs.loc[LAC_count] = new_LAC
            LAC_count = LAC_count + 1

### Analyze Data

In [7]:
# Working on it...

drop_col = ['AT', 'INT', 'RNGP', 'MNC_AL', 'DSAV', 'TZ', 'HONLA']
df_MSS_LAIs = df_MSS_LACs.drop(columns=drop_col)
df_MSS_LAIs['LAC_int'] =  df_MSS_LAIs['LAC_str'].astype(int)
df_MSS_LAIs['LAI'] =  df_MSS_LAIs['MCC'] + '-' + df_MSS_LAIs['MNC'] + '-' + df_MSS_LAIs['LAC_int'].astype(str)
df_MSS_LAIs['NE-LAI'] =  df_MSS_LAIs['MSS'] + '-' + df_MSS_LAIs['LAI']
df_MSS_LAIs

,MSS,Date,Time,MCC,MNC,LAC_str,LAC_NAME,LAC_int,LAI,NE-LAI
0,MSSBA06,2022-02-04,09:51:20,724,05,01671,LAC01671,1671,724-05-1671,MSSBA06-724-05-1671
1,MSSBA06,2022-02-04,09:51:20,724,05,02575,LAC2575,2575,724-05-2575,MSSBA06-724-05-2575
2,MSSBA06,2022-02-04,09:51:20,724,05,02775,LAC2775,2775,724-05-2775,MSSBA06-724-05-2775
3,MSSBA06,2022-02-04,09:51:20,724,05,01575,LAC1575,1575,724-05-1575,MSSBA06-724-05-1575
4,MSSBA06,2022-02-04,09:51:20,724,05,01475,LAC1475,1475,724-05-1475,MSSBA06-724-05-1475
...,...,...,...,...,...,...,...,...,...,...
430,MSSBA0A,2022-02-04,09:50:20,724,05,52079,LAC52079,52079,724-05-52079,MSSBA0A-724-05-52079
431,MSSBA0A,2022-02-04,09:50:20,724,05,23875,LAC23875,23875,724-05-23875,MSSBA0A-724-05-23875
432,MSSBA0A,2022-02-04,09:50:20,724,28,40675,LAC40675RS,40675,724-28-40675,MSSBA0A-724-28-40675
433,MSSBA0A,2022-02-04,09:50:20,724,05,40675,LAC40675,40675,724-05-40675,MSSBA0A-724-05-40675
434,MSSBA0A,2022-02-04,09:50:20,724,05,54175,LAC54175,54175,724-05-54175,MSSBA0A-724-05-54175

### Plot + Insights

In [8]:
# Continue...